{# category 4 #}
{% extends '/bundles/lincko/web/templates/generic/base.twig' %}

{% block content %}
<script>
	JSfiles.push("{{ _filelatest('/lincko/web/scripts/web/home.js') }}");
</script>
<link rel="stylesheet" href="{{ _filelatest('/lincko/web/styles/web/home.css') }}" type="text/css" />
{% include '/bundles/lincko/web/templates/web/styles/home.css.twig' %}
<div id='begin_home'></div>
<div class="home_top_div"></div>
<div class="home_sign_box" id="home_signin">
	<form id="home_user_create" action="user/create" method="post" onsubmit="return sendForm(this, home_cb_success, home_cb_error);">
		<label class="home_label_inside minTablet" for="home_user_create_firstname">
			<span>{{ _trans('web', 4, 6, 'html') }}{# First name #}</span>
			<input type="text" id="home_user_create_firstname" name="firstname" value="" onfocus="$(this).prev().hide();" onblur="if($(this).val().length<=0){ $(this).prev().show(); }"/>
		</label>
		<label class="home_label_inside minTablet" for="home_user_create_lastname">
			<span>{{ _trans('web', 4, 7, 'html') }}{# Last name #}</span>
			<input type="text" id="home_user_create_lastname" name="lastname" value="" onfocus="$(this).prev().hide();" onblur="if($(this).val().length<=0){ $(this).prev().show(); }"/>
		</label>
		<label class="home_label_inside" for="home_user_create_email">
			<span>{{ _trans('web', 4, 2, 'html') }}{# Email #}</span>
			<input type="email" id="home_user_create_email" name="email" value="" onfocus="$(this).prev().hide();" onblur="if($(this).val().length<=0){ $(this).prev().show(); }"/>
		</label>
		<input type="password" name="foilautofill" value="" autocomplete="off" style="display:none" />{# It avoids a behavior in Firefox which does not know Autocomplete tag, FF fulfill by default the first field #}
		<label class="home_label_inside" for="home_user_create_password">
			<span>{{ _trans('web', 4, 3, 'html') }}{# Password #}</span>
			<input type="password" id="home_user_create_password" name="password" value="" autocomplete="off" onfocus="$(this).prev().hide();" onblur="if($(this).val().length<=0){ $(this).prev().show(); }" />
		</label>
		<input class="home_submit" id="home_user_create_submit" type='button' value="{{ _trans('web', 4, 1, 'input') }}{# join us #}" onclick="$(this.form).submit();" />
		<div class="home_signin_div minTablet">
			{{ _trans('web', 4, 4, 'html') }}{# or #} <span class="home_signin_link" onclick="alert('Sign in');">{{ _trans('web', 4, 5, 'html') }}{# sign in #}</span>
		</div>
	</form>
</div>
<div id="home_main_image">
	<img class="home_logo" src="{{ _filelatest('/lincko/web/images/web/home/logo_arc.png') }}"/>	
</div>
<div id="home_great_projects">
	<div>
		<span>{{ _trans('web', 4, 8, 'html') }}{# All great projects #}</span><br />
		<span>{{ _trans('web', 4, 9, 'html') }}{# begin with a single task #}</span>
	</div>
	<div class="home_great_learn_more">
		<div>{{ _trans('web', 4, 10, 'html') }}{# learn ore #}</div>
		<img src="{{ _filelatest('/lincko/web/images/web/home/learn_more.png') }}"/>
	</div>
</div>
<div class="home_tools">
	<img src="{{ _filelatest('/lincko/web/images/web/home/logo_arc.png') }}"/>
	<br />
	<br />
	<div>
		{{ _trans('web', 4, 11, 'html') }}{# all the tools you need to collaborate across great distances #}
	</div>
	<br />
	<img src="{{ _filelatest('/lincko/web/images/web/home/circle_tasks.png') }}"/>
	<img src="{{ _filelatest('/lincko/web/images/web/home/circle_docs.png') }}"/>
	<img src="{{ _filelatest('/lincko/web/images/web/home/circle_notes.png') }}"/>
	<img src="{{ _filelatest('/lincko/web/images/web/home/circle_activity.png') }}"/>
	<br />
	<br />
	<div>
		{{ _trans('web', 4, 12, 'html') }}{# collaborate across the globe or the office to build your company's next great project with Arc #}
	</div>
</div>
<div class="home_responsive">
	<div>
		<div>
			<img src="{{ _filelatest('/lincko/web/images/web/home/lst.png') }}"/>
		</div>
		<div>
			{{ _trans('web', 4, 14, 'html') }}{# never be limited, continue to build your projects wherever you are #}
		</div>
	</div>
</div>
<div id="home_done">
	<div>
		<img class="home_done_logo" src="{{ _filelatest('/lincko/web/images/web/home/circle_tasks.png') }}"/>
		<span class="home_done_text">{{ _trans('web', 4, 13, 'html') }}{# Done, done and done.
Take control of tasks across different projects and ensure that today's tasks, and tomorrows, get done. #}</span>
	</div>
</div>
<div id='end_home'></div>
{% endblock %}