{# category 4 #}
{% extends '/bundles/lincko/web/templates/generic/base.twig' %}

{% block content %}
<script>
	JSfiles.push("{{ _filelatest('/lincko/web/scripts/web/home.js') }}");
</script>
<link rel="stylesheet" href="{{ _filelatest('/lincko/web/styles/web/home.css') }}" type="text/css" />
{% include '/bundles/lincko/web/templates/web/styles/home.css.twig' %}
<div id='begin_home'></div>
<div class="home_top_div"></div>
<div id="home_main_image">
	<div class="home_sign_box" id="home_signin">
		<form id="home_user_create" action="user/create" method="post" onsubmit="return sendForm(this, home_cb_success, home_cb_error);">
			<label class="home_label_inside" for="home_user_create_email">
				<span>{{ _trans('web', 4, 2, 'html') }}{# Email #}</span>
				<input type="email" id="home_user_create_email" name="email" value="" onfocus="$(this).prev().hide();" onblur="if($(this).val().length<=0){ $(this).prev().show(); }"/>
			</label>
			<input type="password" name="foilautofill" value="" autocomplete="off" style="display:none" />{# It avoids a behavior in Firefox which does not know Autocomplete tag, FF fulfill by default the first field #}
			<label class="home_label_inside" for="home_user_create_password">
				<span>{{ _trans('web', 4, 3, 'html') }}{# Password #}</span>
				<input type="password" id="home_user_create_password" name="password" value="" autocomplete="off" onfocus="$(this).prev().hide();" onblur="if($(this).val().length<=0){ $(this).prev().show(); }" />
			</label>
			<input class="home_submit" id="home_user_create_submit" type='button' value="{{ _trans('web', 4, 1, 'input') }}{# join us #}" onclick="$(this.form).submit();" />
		</form>
	</div>
</div>
<!--
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
test<br />
-->
<div id='end_home'></div>
{% endblock %}