{# category 4 #}
{% extends '/bundles/lincko/web/templates/generic/base.twig' %}

{% block content %}
<div id="begin_home" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/web/scripts/web/home.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/web/styles/web/home.css') }}" type="text/css" />
</div>
<div class="home_top_div minTablet"></div>
<div class="home_joinus_box" id="home_joinus_box">
	<div>
		<form id="home_joinus_form" name="home_joinus_form" action="user/create" method="post" onsubmit="return wrapper_sendForm(this, home_cb_success, home_cb_error, home_cb_begin, home_cb_complete);">
			<label class="home_label_inside" for="home_joinus_email">
				<span class="unselectable">{{ _trans('web', 4, 2, 'html') }}{# Email #}</span>
				<input type="email" id="home_joinus_email" name="email" value=""/>
			</label>
			<input type="password" name="foilautofill" value="" autocomplete="off" style="display:none" />{# It avoids a behavior in Firefox which does not know Autocomplete tag, FF fulfill by default the first field #}
			<label class="home_label_inside" for="home_joinus_password">
				<span class="unselectable">{{ _trans('web', 4, 3, 'html') }}{# Password #}</span>
				<input type="password" id="home_joinus_password" name="password" value="" autocomplete="off" />
			</label>
			{% if wrapper_user_created %}
				<label class="home_label_inside" for="home_joinus_captcha">
					<img  name="captcha" id="home_captcha" src="" title="{{ _trans('web', 4, 17, 'brut') }}{# Refresh the captcha #}"/>
					<span class="unselectable">{{ _trans('web', 4, 16, 'html') }}{# Captcha #}</span>
					<input type="text" id="home_joinus_captcha" name="captcha" value="" autocomplete="off" />
					<input type="hidden" name="captcha_name" value="home_joinus_form" autocomplete="off" />
				</label>
			{% endif %}			
			<input id="home_joinus_submit" type='button' value="{{ _trans('web', 4, 1, 'input') }}{# Join us #}" onclick="$(this.form).submit();" />
			<img class="submit_progress_bar" id="home_joinus_submit_progress" src="{{ _filelatest('/lincko/web/images/generic/base/generic/loading_bar.gif') }}"/>
			<div class="home_joinus_div minDesktop">
				{{ _trans('web', 4, 4, 'html') }}{# or #} <span id="home_signin_link">{{ _trans('web', 4, 5, 'html') }}{# Sign in #}</span>
			</div>
		</form>
	</div>
	<div id="home_joinus_tos" onclick="window.open('{{ terms }}', '_blank');">
		{{ _trans('web', 4, 15, 'html') }}{# By clicking "Join us", you agree to our Terms of use and Privacy policy. #}
	</div>
	<div id="home_joinus_error">
	</div>
</div>
<div id="home_main_image">
	<img class="home_logo" src="{{ _filelatest('/lincko/web/images/web/home/logo_arc.png') }}"/>	
</div>
<div id="home_great_projects">
	<div>
		<span>{{ _trans('web', 4, 8, 'html') }}{# All great projects #}</span><br />
		<span>{{ _trans('web', 4, 9, 'html') }}{# begin with a single task #}</span>
	</div>
	<div class="home_great_learn_more">
		<div>{{ _trans('web', 4, 10, 'html') }}{# learn ore #}</div>
		<img src="{{ _filelatest('/lincko/web/images/web/home/learn_more.png') }}"/>
	</div>
</div>
<div class="home_tools" id="home_tools">
	<img src="{{ _filelatest('/lincko/web/images/web/home/logo_arc.png') }}"/>
	<br />
	<br />
	<div>
		{{ _trans('web', 4, 11, 'html') }}{# all the tools you need to collaborate across great distances #}
	</div>
	<br />
	<img src="{{ _filelatest('/lincko/web/images/web/home/circle_tasks.png') }}"/>
	<img src="{{ _filelatest('/lincko/web/images/web/home/circle_docs.png') }}"/>
	<img src="{{ _filelatest('/lincko/web/images/web/home/circle_notes.png') }}"/>
	<img src="{{ _filelatest('/lincko/web/images/web/home/circle_activity.png') }}"/>
	<br />
	<br />
	<div>
		{{ _trans('web', 4, 12, 'html') }}{# collaborate across the globe or the office to build your company's next great project with Arc #}
	</div>
</div>
<div class="home_responsive" id="home_responsive">
	<div>
		<div>
			<img src="{{ _filelatest('/lincko/web/images/web/home/lst.png') }}"/>
		</div>
		<div>
			{{ _trans('web', 4, 14, 'html') }}{# never be limited, continue to build your projects wherever you are #}
		</div>
	</div>
</div>
<div id="home_done">
	<div>
		<img class="home_done_logo" src="{{ _filelatest('/lincko/web/images/web/home/circle_tasks.png') }}"/>
		<span class="home_done_text">{{ _trans('web', 4, 13, 'html') }}{# Done, done and done.
Take control of tasks across different projects and ensure that today's tasks, and tomorrows, get done. #}</span>
	</div>
</div>
<div id="end_home" class="visibility_hidden">
	{% include '/bundles/lincko/web/templates/web/scripts/home.js.twig' %}
</div>
{% endblock %}
