{# category 8 #}

<div id="-submenu_app_chat_chatmenu" class="base_optionTab submenu_bottom_cell submenu_app_chat_table">
	<div>
		<img find="select_contacts" class="submenu_app_chat_chatmenu_icon" src="{{ _filelatest('/lincko/app/images/submenu/chat/contacts.png') }}" alt="{{ _trans('app', 8, 2, 'html') }}{# contacts #}" title="{{ _trans('app', 8, 2, 'html') }}{# contacts #}" />
	</div>
	<div>
		<img find="select_chats" class="submenu_app_chat_chatmenu_icon" src="{{ _filelatest('/lincko/app/images/submenu/chat/chats.png') }}" alt="{{ _trans('app', 8, 1, 'html') }}{# chats #}" title="{{ _trans('app', 8, 1, 'html') }}{# chats #}" />
	</div>
</div>

<div id="-submenu_app_chat_chat_contact" class="base_optionTab submenu_deco submenu_app_chat_deco">
	<span class="submenu_padding submenu_app_chat_profile" find="picture">
		<span find="picture_src" class="submenu_app_chat_profile_picture" ></span>
	</span>
	<span class="submenu_padding submenu_app_chat_who base_MenuListText ellipsis" find="who"></span>{# toto: Issue if the username is very long, it hide the 2 buttons #}
	<span class="submenu_padding submenu_app_chat_invitation display_none" find="invitation">
		<span class="submenu_app_chat_invitation_accept base_pointer display_none" find="invitation_accept">{{ _trans('app', 8, 4, 'html') }}{# Accept #}</span>
		<span class="submenu_app_chat_invitation_reject base_pointer display_none" find="invitation_reject">{{ _trans('app', 8, 5, 'html') }}{# Reject #}</span>
		<span class="submenu_app_chat_invitation_invite base_pointer display_none" find="invitation_invite">{{ _trans('app', 8, 6, 'html') }}{# Invite #}</span>
		<span class="submenu_app_chat_invitation_resend base_pointer display_none" find="invitation_resend">{{ _trans('app', 8, 11, 'html') }}{# Resend #}</span>
	</span>
</div>

<div id="-submenu_app_chat_new_contact" class="submenu_deco_read submenu_app_chat_new_contact base_MainMenuItemsText">
	<span class="submenu_padding submenu_app_chat_new_contact_title" find="submenu_title"></span>
</div>

<div id="-submenu_app_chat_new_email" class="submenu_deco_read submenu_app_chat_new_contact base_MainMenuItemsText">
	<div class="submenu_padding submenu_app_chat_block submenu_app_chat_invitation_sentence" find="submenu_title"></div>
	<div class="submenu_padding submenu_app_chat_block submenu_app_chat_invitation_button" find="invitation">
		<span class="submenu_app_chat_invitation_invite base_pointer" find="invitation_email">{{ _trans('app', 8, 6, 'html') }}{# Invite #}</span>
	</div>
</div>

<div id="-submenu_app_chat_user_searching" class="submenu_deco_read submenu_app_chat_user_searching">
	<img class="submit_progress_bar" src="{{ _filelatest('/lincko/launch/images/generic/base/generic/loading_bar.gif') }}"/>
</div>

<div id="-submenu_app_chat_user_scanner" class="submenu_deco_read submenu_app_chat_user_scanner">
	<div find="radar"></div>
</div>

<div id="-submenu_app_chat_add_user" class="submenu_app_chat_add_user">
	<i find="icon_envelope" class="fa fa-envelope-o"></i>
	<label for="submenu_app_chat_search" find="submenu_app_chat_search">
		<span class="submenu_app_chat_search_text_help" find="submenu_app_chat_search_text_help">
			<span class="submenu_app_chat_search_text_help_span" find="submenu_app_chat_search_text_help_span">
				<span class="icon-Search"></span>
				<span>{{ _trans('app', 2, 12, 'html') }}{# E-mail address #}</span>
			</span>
		</span>
		<input type="text" find="submenu_app_chat_search_input" class="submenu_app_chat_search base_MainMenuItemsText selectable" name="base_search_text" title="{{ _trans('app', 2, 3, 'html') }}{# Search #}"/>
	</label>
</div>

<div id="-submenu_app_chat_add_user_options" class="submenu_app_chat_add_user_options">
	<div find="options_wrapper">
		<div find="btn_myURL" class="base_pointer">
			<span>
				<div find="icon" class="fa fa-link base_color_text_linckoOrange"></div>
				<div>{{ _trans('app', 8, 7, 'html') }}{# My URL #}</div>
			</span>
		</div>
		<div find="btn_myQR" class="base_pointer">
			<span>
				<div find="icon" class="fa fa-qrcode"></div>
				<div>{{ _trans('app', 8, 8, 'html') }}{# My QR Code #}</div>
			</span>
		</div>
		<div find="btn_scan" class="base_pointer">
			<span>
				<div find="icon" class="icon-scan base_color_text_linckoOrange"></div>
				<div>{{ _trans('app', 8, 9, 'html') }}{# Scan #}</div>
			</span>
		</div>
	</div>
</div>

<div id="-submenu_app_chat_wxNotice" class="submenu_app_chat_wxNotice base_pointer base_tapHighlight_off">
	<i find="icon" class="fa fa-wechat"></i>
	<div find="text">{# **use JS to add translation** Press [{ellipsis}] and Send to Chat or Moments to invite your WeChat contacts #}</div>
	<i find="icon" class="fa fa-hand-o-up base_color_text_linckoOrange"></i>
</div>
