<div id="-submenu_wrapper" class="submenu_wrapper unselectable accelerated">
	<div class="base_content submenu_content" find="submenu_wrapper_content">
	</div>
	<div find="submenu_wrapper_bottom">
	</div>
</div>

<span id="-submenu_top_button" class="submenu_title">
</span>

<div id="-submenu_button" class="base_optionTab submenu_deco">
	<span class="submenu_padding" find="submenu_button_title"></span>
	<span class="submenu_padding submenu_value" find="submenu_button_value"></span>
</div>

<div id="-submenu_info" class="base_optionTab submenu_deco submenu_deco_info_wrap">
	<span class="submenu_padding" find="submenu_info_title"></span>
</div>


<div id="-submenu_next" class="base_optionTab submenu_deco">
	<span class="submenu_padding" find="submenu_next_title"></span>
	<span class="submenu_padding submenu_value">
		<span find="submenu_next_value" class="submenu_next_value"></span>
		<img class="submenu_icon submenu_icon_next floatright" src="{{ _filelatest('/lincko/app/images/submenu/next.png') }}">
	</span>
</div>

<div id="-submenu_customized_top" class="base_menu submenu_top" find="submenu_wrapper_top">
	<span class="submenu_title submenu_title_center font_sans_serif ellipsis" find="submenu_title"></span>
</div>

<div id="-submenu_top" class="base_menu submenu_top" find="submenu_wrapper_top">
	<span class="submenu_top_side submenu_back font_sans_serif submenu_hide maxTablet" find="submenu_wrapper_back">
		<div class="base_button submenu_back_image" title="{{ _trans('app', 1, 2, 'html') }}{# Back #}"></div>
	</span>
	<span class="submenu_top_side font_sans_serif minDesktop" find="submenu_wrapper_side_left"></span>
	<span class="submenu_title font_sans_serif ellipsis" find="submenu_wrapper_title"></span>
	<span class="submenu_top_side font_sans_serif maxTablet" find="submenu_wrapper_side_right"></span>
	<span class="submenu_top_side submenu_close font_sans_serif submenu_hide minDesktop" find="submenu_wrapper_back">
		<img class="base_button submenu_close_image" src="{{ _filelatest('/lincko/app/images/submenu/close.png') }}" alt="{{ _trans('app', 1, 3, 'html') }}{# Close #}" title="{{ _trans('app', 1, 3, 'html') }}{# Close #}" />
	</span>
</div>

<div id="-submenu_radio" class="base_optionTab submenu_deco">
	<span class="submenu_padding" find="submenu_radio_title"></span>
	<span class="submenu_padding submenu_radio" find="submenu_radio_value"></span>
</div>

<div id="-submenu_bottom" class="base_optionTab submenu_bottom_cell">
	<button class="submenu_bottom_valid" find="submenu_bottom_button">
		<span find="submenu_bottom_title"></span>
		<img class="submit_progress_bar" find="submit_progress_bar" src="{{ _filelatest('/lincko/app/images/generic/base/generic/loading_bar.gif') }}"/>
	</button>
</div>

<div id="-submenu_title_small" class="submenu_title_small">
	<span find="submenu_title"></span>
</div>

<div id="-submenu_space" class="submenu_space">
</div>

<label id="-submenu_input" class="" for="">
	<div class="unselectable" find="submenu_title"></div>
</label>

<label id="-submenu_select" class="base_optionTab submenu_select">
	<span class="submenu_padding submenu_select_title" find="submenu_select_title"></span>
	<span class="submenu_padding submenu_value submenu_select_value">
		<span find="submenu_select_value"></span>
		<img class="submenu_icon submenu_icon_next floatright" src="{{ _filelatest('/lincko/app/images/submenu/next.png') }}">
	</span>
</label>

<div id="-submenu_diy" class="base_optionTab submenu_deco_read submenu_deco_neutral" find="diy_tab">
	<label class="submenu_input_text submenu_diy_input" for="">
		<input type="text" find="submenu_input_text" class="selectable" />
		<span find="submenu_diy_delete" class="submenu_diy_delete">{{ _trans('app', 1, 5, 'html')|lower }}{# delete #}</span>
	</label>
	<label class="submenu_input_textarea submenu_diy_textarea" for="">
		<textarea find="submenu_input_textarea" class="selectable" ></textarea>
	</label>
</div>

<div id="-submenu_small_button" class="base_optionTab submenu_deco_read submenu_deco_neutral">
	<span find="submenu_small_button_title" class="submenu_small_button"></span>
</div>
