<div id="-submenu_taskdetail" class="submenu_taskdetail base_color_text_grey"></div>

<table id="-submenu_taskdetail_tasktitle" class="submenu_taskdetail_tasktitle submenu_taskdetail_paddingLeft">
	<tr>
		<td find='leftbox'></td>
		<td class="skylist_card_textwrapper">
			<div find="title_text" tabIndex="1" class="selectable"></div>
			{#<textarea find="title_text"></textarea>#}
			<div find="taskid" class="display_none"></div>
		</td>
	</tr>
</table>

<div id="-submenu_taskdetail_description" class="submenu_taskdetail_description">
	<table class="submenu_taskdetail_collapsable_button submenu_taskdetail_paddingLeft">
		<td find="icon_arrow" class="icon-Accordion base_color_text_linckoOrange"></td>
		<td>{{ _trans('app', 10, 4, 'html') }}{#description#}</td>
	</table>
	<div find="description_text" contenteditable="true" class="needsclick selectable submenu_taskdetail_collapsable_content submenu_taskdetail_paddingLeft" tabindex="2"></div>
</div>
<div id="-submenu_taskdetail_meta" class="submenu_taskdetail_meta submenu_taskdetail_paddingLeft">
	<table>
		<tr>
			<td find="calendar" class="submenu_taskdetail_meta_box">
				{#<img src="{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}"/>#}
				<span class="submenu_taskdetail_meta_icons icon-Calendar"></span>
				{#<span find="duedate_text" class="submenu_taskdetail_meta_text"></span>#}
				<input class="visibility_hidden"/>
				<span find="duedate_text" class="submenu_taskdetail_meta_text"></span>
				<input type="text" find="duedate_timestamp" class="submenu_taskdetail_meta_text" readonly="readonly"/>
			</td>
			<td find="user" class="submenu_taskdetail_meta_box">
				{#<img src="{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}"/>#}
				<span class="submenu_taskdetail_meta_icons icon-SmallPersonaiconBlack"></span>
				<span find="user_text" class="submenu_taskdetail_meta_text"></span>
				<input type="text" find="user_text_hidden" class="submenu_taskdetail_meta_text" readonly="readonly"/>
			</td>
			<td find="spaces" class="submenu_taskdetail_meta_box display_none">
				{#<img src="{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}"/>#}
				<span class="submenu_taskdetail_meta_icons icon-Hash"></span>
				<span find="spaces_text" class="submenu_taskdetail_meta_text">Spaces</span>
				<span class="submenu_taskdetail_meta_icons icon-Add"></span>
				{#<input type="text" find="jdpicker" readonly="readonly"/>#}
			</td>
		</tr>
	</table>
	<span class="icon-Actions submenu_taskdetail_meta_actions minTablet">
		<span find='action_menu'>
			<div find="delete" class="icon-Trash"></div>
		</span>
	</span>
</div>

<div id="-submenu_taskdetail_comments" class="submenu_taskdetail_comments">
	<table class="submenu_taskdetail_collapsable_button submenu_taskdetail_paddingLeft">
		<td find="icon_arrow" class="icon-Accordion base_color_text_linckoOrange"></td>
		<td>{{ _trans('app', 10, 3, 'html') }}{#comments#} (<span find="commentCount"></span>)</td>
	</table>
	<div class="submenu_taskdetail_comments_seePrev">
		<span find="seePrev_btn" class="submeu_taskdetail_blueButton display_none">See previous (x comments)...{#toto#}</span>
	</div>
	<div class="submenu_taskdetail_comments_main submenu_taskdetail_paddingLeft"></div>
	<div class="submenu_taskdetail_addNewComment_wrapper submenu_taskdetail_paddingLeft">
		<table find="addNewComment_bubble_wrapper" class="submenu_taskdetail_commentbubble display_none">
			<td class="submenu_taskdetail_commentbubble_profile">
				<div find="profile_pic" class="icon-SmallPersonaiconBlack"></div>
				<div find="name"></div>
			</td>
			<td class="submenu_taskdetail_commentbubble_text">
				<input type="textarea" find="addNewComment_text" placeholder="enter comment here..."{#toto#}>
			</td>
		</table>
		<span find='addNewComment_btn' class="submeu_taskdetail_blueButton">Add new comment {#toto#}</span>
	</div>
</div>


<table id="-submenu_taskdetail_commentbubble" class="submenu_taskdetail_commentbubble">
	<td find="comment_id" class="display_none"></td>
	<td class="submenu_taskdetail_commentbubble_bar"></td>
	<td class="submenu_taskdetail_commentbubble_profile">
		<div find="profile_pic" class="icon-SmallPersonaiconBlack"></div>
		<div find="name"></div>
	</td>
	<td class="submenu_taskdetail_commentbubble_text">
		<div find="text" class="selectable"></div>
		<div class="submenu_taskdetail_commentbubble_quickAction">
			<span find="replyBtn" class="base_color_text_linckoOrange">Reply{#toto#}</span>
			<span find="seeAllBtn" class="base_color_text_linckoOrange">{{ _trans('app', 10, 2, 'html') }}{#see all toto#}</span>
			<span find="date"></span>
		</div>
		<input type="textarea" find="addNewComment_text" placeholder="enter comment here..."{#toto#}>
	</td>
</table>

<div id="-submenu_taskdetail_tasktitle_fileInfo" class="submenu_taskdetail_tasktitle_fileInfo">
	<div find="fileSize">
		<span>File Size: {#toto#}</span><span find="val"></span><span find="unit"></span>
	</div>
	<span find="downloadIcon" class="icon-ExclamationCloud"></span>
</div>
