<div id="-submenu_taskdetail" class="submenu_taskdetail"></div>

<table id="-submenu_taskdetail_tasktitle" class="submenu_taskdetail_tasktitle">
	<tr>
		<td class="app_layers_dev_skytasks_checkbox">
			<input type="checkbox" name="checkname">
			<div class="app_layers_dev_skytasks_checkbox_visual"></div>
			<label for=""></label>
		</td>
		<td>
			<div find="title_text" contenteditable="true"></div>
		</td>
		<td class="submenu_taskdetail_share">
			<span class="fa fa-external-link"></span>
		</td>
	</tr>
	<tr>
		<div find="taskid"></div>
	</tr>
</table>

<div id="-submenu_taskdetail_description" class="submenu_taskdetail_description">
	<div><strong>{{ _trans('app', 10, 4, 'html') }}{#description#}:</strong></div>
	<div find="description_text" contenteditable="true"></div>
</div>

<table id="-submenu_taskdetail_meta" class="submenu_taskdetail_meta">
	<tr>
		<td class="submenu_taskdetail_meta_box">
			{#<img src="{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}"/>#}
			<span class="fa fa-user"></span>
			<div find="assigned_text"></div>
		</td>
		<td class="submenu_taskdetail_meta_box">
			{#<img src="{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}"/>#}
			<span class="fa fa-calendar"></span>
			<div find="duedate_text"></div>
		</td>
		<td class="submenu_taskdetail_meta_box">
			{#<img src="{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}"/>#}
			<span class="fa fa-hashtag"></span>
			<div find="spaces_text">Spaces</div>
		</td>
	</tr>
</table>

<div id="-submenu_taskdetail_comments" class="submenu_taskdetail_comments">
	<div class="submenu_taskdetail_comments_header">
		{#<img src="{{_filelatest('/lincko/app/images/app/icons/Edition-32.png') }}"/>#}
		<span class="fa fa-pencil"></span>
		<span class="submenu_taskdetail_text">{{ _trans('app', 10, 3, 'html') }}{#see comments#} (?)<span>
		<span class="fa fa-plus-circle"></span>
		<span class="fa fa-minus-circle"></span>
		<img class="submenu_taskdetail_plusminus" src="{{_filelatest('/lincko/app/images/app/icons/Interface-90.png') }}"/>
		<img class="submenu_taskdetail_plusminus" src="{{_filelatest('/lincko/app/images/app/icons/Interface-89.png') }}"/>

	</div>
	<div class="submenu_taskdetail_comments_main"></div>
	<div class="submeu_taskdetail_comments_action">
		<span>{{ _trans('app', 10, 1, 'html') }}{#see unread#}</span>
		<span>{{ _trans('app', 10, 2, 'html') }}{#see all#}</span>
	</div>
</div>

<div id="-submenu_taskdetail_commentbubble" class="submenu_taskdetail_commentbubble">
	<span class="submenu_taskdetail_commentbubble_profile">
		<img src="{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}"/>
		Skyler
	</span>
	<span class="submenu_taskdetail_commentbubble_text">
		WHOAAAAAAAAAAAA THIS COMMENT IS AWESOME! I can't wait to put more comments to this task.
	</span>
	<span class="submenu_taskdetail_commentbubble_setHeight"></span>
</div>
