<div id="-submenu_taskdetail" class="submenu_taskdetail base_color_text_grey"></div>

<table id="-submenu_taskdetail_tasktitle" class="submenu_taskdetail_tasktitle submenu_taskdetail_paddingLeft">
	<tr>
		<td find='leftbox' class="skylist_card_center_leftbox"></td>
		<td class="skylist_card_textwrapper">
			<div find="title_text" tabIndex="1" class="needsclick"></div>
			{#<textarea find="title_text"></textarea>#}
			<div find="taskid" class="display_none"></div>
		</td>
	</tr>
</table>

<div id="-submenu_taskdetail_description" class="submenu_taskdetail_description">
	<table class="submenu_taskdetail_collapsable_button submenu_taskdetail_paddingLeft">
		<td find="icon_arrow" class="icon-Accordion base_color_text_linckoOrange"></td>
		<td>{{ _trans('app', 10, 4, 'html') }}{#description#}</td>
	</table>
	<div find="description_text" contenteditable="true" class="needsclick selectable submenu_taskdetail_collapsable_content submenu_taskdetail_paddingLeft" tabindex="2"></div>
</div>
<div id="-submenu_taskdetail_meta" class="submenu_taskdetail_meta submenu_taskdetail_paddingLeft">
	<table>
		<tr>
			<td find="projects" class="submenu_taskdetail_meta_box">
				<span class="submenu_taskdetail_meta_icons icon-projectBlack"></span>
				<input class="visibility_hidden"/>
				<span find="projects_text" class="submenu_taskdetail_meta_text"></span>
				<input type="text" find="projects_id" class="submenu_taskdetail_meta_text" readonly="readonly"/>
			</td>
			<td find="calendar" class="submenu_taskdetail_meta_box">
				{#<img src="{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}"/>#}
				<span class="submenu_taskdetail_meta_icons icon-Calendar"></span>
				{#<span find="duedate_text" class="submenu_taskdetail_meta_text"></span>#}
				<span find="duedate_text" class="submenu_taskdetail_meta_text"></span>
				<input type="text" find="duedate_timestamp" class="submenu_taskdetail_meta_text" readonly="readonly"/>
			</td>
			<td find="user" class="submenu_taskdetail_meta_box">
				{#<img src="{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}"/>#}
				<span class="submenu_taskdetail_meta_icons icon-SmallPersonaiconBlack"></span>
				<span find="user_text" class="submenu_taskdetail_meta_text"></span>
				<input type="text" find="user_text_hidden" class="submenu_taskdetail_meta_text" readonly="readonly"/>
			</td>
			<td find="spaces" class="submenu_taskdetail_meta_box display_none">
				{#<img src="{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}"/>#}
				<span class="submenu_taskdetail_meta_icons icon-Hash"></span>
				<span find="spaces_text" class="submenu_taskdetail_meta_text">Spaces{#toto#}</span>
				<span class="submenu_taskdetail_meta_icons icon-Add"></span>
				{#<input type="text" find="jdpicker" readonly="readonly"/>#}
			</td>
		</tr>
	</table>
	<span class="icon-Actions submenu_taskdetail_meta_actions minTablet">
		<span find='action_menu'>
			<div find="delete" class="icon-Trash"></div>
		</span>
	</span>
</div>

<div id="-submenu_taskdetail_links" class="submenu_taskdetail_links">
	<table class="submenu_taskdetail_collapsable_button submenu_taskdetail_paddingLeft">
		<td find="icon_arrow" class="icon-Accordion base_color_text_linckoOrange"></td>
		<td>{{ _trans('app', 15, 1, 'html') }}{# Links #}</td>
		<td>(<span find="linkCount"></span>)</td>
		<td class="icon-links" find="icomoon"></td>
	</table>
	<div find="links_wrapper" class="needsclick submenu_taskdetail_collapsable_content">
	</div>
	<div find="link_btns" class="submenu_taskdetail_paddingLeft">
		<span find="new_btn" class="skylist_clickable needsclick" >{{ _trans('app', 15, 2, 'html') }}{# New File #}</span>
		<span find="existing_btn" class="skylist_clickable needsclick display_none" >{{ _trans('app', 15, 3, 'html') }}{# Link existing file or note #}</span>
	</div>
</div>

<div id="-submenu_taskdetail_links_card" class="submenu_taskdetail_paddingLeft submenu_taskdetail_links_card needsclick skylist_clickable">
	<table find='card_center' class="skylist_card_center">
		<tr>
			<td find='card_spacestick' class="skylist_card_spacestick display_none">&nbsp;</td>
			<td find='card_leftbox' class="skylist_card_center_leftbox fa"></td>
			<td find='card_textwrapper' class="skylist_card_textwrapper">
				<div find='title'></div>
				<div find='description'></div>
			</td>
		</tr>
	</table>
	<div find="action_div">
		<a find="downloadIcon" class="icon-Cloud-Download display_none"></a>
		<span find="removeIcon" class="icon-Remove"></span>
	</div>
</div>



<div id="-submenu_taskdetail_comments" class="submenu_taskdetail_comments">
	<table class="submenu_taskdetail_collapsable_button submenu_taskdetail_paddingLeft">
		<td find="icon_arrow" class="icon-Accordion base_color_text_linckoOrange"></td>
		<td>{{ _trans('app', 10, 3, 'html') }}{#comments#}</td>
		<td>(<span find="commentCount"></span>)</td>
		<td class="icon-Pencil" find="icomoon"></td>
	</table>
	<div class="submenu_taskdetail_comments_seePrev">
		<span find="seePrev_btn" class="submeu_taskdetail_blueButton display_none">{{ _trans('app', 14, 1, 'html') }}...{#See previous comments#}</span>
	</div>
	<div class="submenu_taskdetail_comments_main submenu_taskdetail_paddingLeft"></div>
	<div class="submenu_taskdetail_addNewComment_wrapper submenu_taskdetail_paddingLeft">
		<table find="addNewComment_bubble_wrapper" class="submenu_taskdetail_commentbubble display_none">
			<td class="submenu_taskdetail_commentbubble_profile">
				<div find="profile_pic"></div>
				<div find="name"></div>
			</td>
			<td class="submenu_taskdetail_commentbubble_text">
				<input type="textarea" find="addNewComment_text">
			</td>
		</table>
		<span find='addNewComment_btn' class="submeu_taskdetail_blueButton">{{ _trans('app', 14, 2, 'html') }}{#Add new comment#}</span>
	</div>
</div>


<table id="-submenu_taskdetail_commentbubble" class="submenu_taskdetail_commentbubble">
	<td find="comment_id" class="display_none"></td>
	<td class="submenu_taskdetail_commentbubble_bar"></td>
	<td class="submenu_taskdetail_commentbubble_profile">
		<div find="profile_pic"></div>
		<div find="name"></div>
	</td>
	<td class="submenu_taskdetail_commentbubble_text">
		<div find="text" class="selectable"></div>
		<div find="text_translated" class="display_none selectable"></div>
		<div class="submenu_taskdetail_commentbubble_quickAction">
			<span find="replyBtn" class="base_color_text_linckoOrange skylist_clickable">{{ _trans('app', 14, 3, 'html') }}{#Reply#}</span>
			<span find="translateBtn" class="base_color_text_linckoOrange skylist_clickable"></span>
			<span find="seeAllBtn" class="base_color_text_linckoOrange skylist_clickable display_none">{{ _trans('app', 14, 4, 'html') }}{#see all#}</span>
			<span find="date"></span>
		</div>
		<input type="textarea" find="addNewComment_text">
	</td>
</table>

<div id="-submenu_taskdetail_tasktitle_fileInfo" class="submenu_taskdetail_tasktitle_fileInfo">
	<div find="fileSize">
		<span>{{ _trans('app', 8000, 3603, 'html') }}: {#File Size#}</span><span find="val"></span><span find="unit"></span>
	</div>
	<div find="fileSize">
		<span>{{ _trans('app', 8000, 3602, 'html') }}: {#File Type#}</span><span find="category"></span><span>, </span><span find="ori_ext"></span>
	</div>
	<a download find="downloadIcon" class="icon-Cloud-Download minTablet .skylist_clickable"></a>
</div>
