<div id="-submenu_taskdetail" class="submenu_taskdetail base_color_text_grey"></div>

<table id="-submenu_taskdetail_tasktitle" class="submenu_taskdetail_tasktitle submenu_taskdetail_paddingLeft">
	<tr>
		<td find='leftbox'></td>
		<td class="skylist_card_textwrapper">
			<div find="title_text" contenteditable="true"></div>
		</td>
	</tr>
	<tr>
		<div find="taskid"></div>
	</tr>
</table>

<div id="-submenu_taskdetail_description" class="submenu_taskdetail_description">
	<table class="submenu_taskdetail_collapsable_button submenu_taskdetail_paddingLeft">
		<td find="icon_arrow" class="icon-Accordion base_color_text_linckoOrange"></td>
		<td>{{ _trans('app', 10, 4, 'html') }}{#description#}</td>
	</table>
	<div find="description_text" contenteditable="true" class="needsclick submenu_taskdetail_collapsable_content submenu_taskdetail_paddingLeft"></div>
</div>
<div id="-submenu_taskdetail_meta" class="submenu_taskdetail_meta submenu_taskdetail_paddingLeft">
	<table>
		<tr>
			<td find="calendar" class="submenu_taskdetail_meta_box">
				{#<img src="{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}"/>#}
				<span class="submenu_taskdetail_meta_icons icon-Calendar"></span>
				<span find="duedate_text" class="submenu_taskdetail_meta_text"></span>
			</td>
			<td find="user" class="submenu_taskdetail_meta_box">
				{#<img src="{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}"/>#}
				<span class="submenu_taskdetail_meta_icons icon-Small-Persona"></span>
				<span find="assigned_text" class="submenu_taskdetail_meta_text"></span>
			</td>
			<td find="spaces" class="submenu_taskdetail_meta_box">
				{#<img src="{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}"/>#}
				<span class="submenu_taskdetail_meta_icons icon-Hash"></span>
				<span find="spaces_text" class="submenu_taskdetail_meta_text">Spaces</span>
			</td>
		</tr>
	</table>
</div>

<div id="-submenu_taskdetail_comments" class="submenu_taskdetail_comments">
	<table class="submenu_taskdetail_collapsable_button submenu_taskdetail_paddingLeft">
		<td find="icon_arrow" class="icon-Accordion base_color_text_linckoOrange"></td>
		<td>{{ _trans('app', 10, 3, 'html') }}{#comments#} (<span find="commentCount"></span>)</td>
	</table>
	<div class="submenu_taskdetail_comments_seePrev">
		<span class="submeu_taskdetail_blueButton">See previous (x comments)...{#toto#}</span>
	</div>
	{#
	<div class="submenu_taskdetail_comments_header">
		<span class="fa fa-pencil"></span>
		<span class="submenu_taskdetail_text">{{ _trans('app', 10, 3, 'html') }}(?)<span>
		<span class="fa fa-plus-circle submenu_taskdetail_plusminus"></span>
		<span class="fa fa-minus-circle submenu_taskdetail_plusminus"></span>
	</div>
	#}
	<div class="submenu_taskdetail_comments_main submenu_taskdetail_paddingLeft"></div>
	<div class="submenu_taskdetail_addNewComment_wrapper submenu_taskdetail_paddingLeft">
		<table find="addNewComment_bubble_wrapper" class="submenu_taskdetail_commentbubble display_none">
			<td class="submenu_taskdetail_commentbubble_profile">
				<div find="profile_pic" class="icon-Small-Persona"></div>
				<div find="name"></div>
			</td>
			<td class="submenu_taskdetail_commentbubble_text">
				<input type="textarea" find="addNewComment_text" placeholder="enter comment here..."{#toto#}>
			</td>
		</table>
		<span find='addNewComment_btn' class="submeu_taskdetail_blueButton">Add new comment {#toto#}</span>
	</div>
</div>


<table id="-submenu_taskdetail_commentbubble" class="submenu_taskdetail_commentbubble">
	<td find="comment_id" class="display_none"></td>
	<td class="submenu_taskdetail_commentbubble_bar"></td>
	<td class="submenu_taskdetail_commentbubble_profile">
		<div find="profile_pic" class="icon-Small-Persona"></div>
		<div find="name"></div>
	</td>
	<td class="submenu_taskdetail_commentbubble_text">
		<div find="text"></div>
		<div class="submenu_taskdetail_commentbubble_quickAction">
			<span find="replyBtn" class="base_color_text_linckoOrange">Reply{#toto#}</span>
			<span find="seeAllBtn" class="base_color_text_linckoOrange">{{ _trans('app', 10, 2, 'html') }}{#see all#}</span>
			<span find="date"></span>
		</div>
		<input type="textarea" find="addNewComment_text" placeholder="enter comment here..."{#toto#}>
	</td>
</table>

{#
<div id="-submenu_taskdetail_commentbubble" class="submenu_taskdetail_commentbubble">
	<span class="submenu_taskdetail_commentbubble_profile">
		<div find="profile_pic" class="icon-Persona"></div>
		<div find="name">Skyler</div>
	</span>
	<span find="text" class="submenu_taskdetail_commentbubble_text">
		WHOAAAAAAAAAAAA THIS COMMENT IS AWESOME! I can't wait to put more comments to this task.
	</span>
	<span class="submenu_taskdetail_commentbubble_setHeight"></span>
</div>
#}
