{% extends '/bundles/lincko/wrapper/templates/wrapper.twig' %}
{% block base %}
	<body id="body_lincko" class="base_color_text_white unselectable">
		<div id="begin_base" class="visibility_hidden">
			<script>
				var base_input_field = {};
				var base_myplaceholder = "{{ _trans('app', 2, 4, 'js')|ucfirst }}";{# Personal Space #}
				JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/base.js') }}", 30);
				JSfiles.later("{{ _filelatest('/lincko/app/scripts/input/_base.js') }}", 40);
				JSfiles.later("{{ _filelatest('/scripts/libs/player.js') }}", 40);
				//Account logo
				var app_application_logo_lincko = new Image();
				app_application_logo_lincko.src = "{{ _filelatest('/lincko/app/images/generic/base/logo/lincko.png') }}";
				var app_application_logo_wechat = new Image();
				app_application_logo_wechat.src = "{{ _filelatest('/lincko/app/images/generic/base/logo/wechat.png') }}";
				var base_is_wechat = false;
			</script>

			{# for video player #}
			<script src="{{ _filelatest('/scripts/libs/jwplayer-7.9.1-lincko/jwplayer.js') }}" type="text/javascript"></script>

			{# draw Charts #}
			<script src="{{ _filelatest('/scripts/libs/chart.min.js') }}" type="text/javascript"></script>
			<script src="{{ _filelatest('/scripts/libs/chart.extensions.js') }}" type="text/javascript"></script>


			{# ResizeSensor is called every 20ms, we should avoid it 
				We have remove these 2 libs,but no enough testing,should remain these libs some time
				2017/2/15
			#}
			{#
			<script src="{{ _filelatest('/scripts/libs/ResizeSensor.js') }}" type="text/javascript"></script>
			<script src="{{ _filelatest('/scripts/libs/ElementQueries.js') }}" type="text/javascript"></script>
			#}

			{# Copy to clipboard #}
			<script src="{{ _filelatest('/scripts/libs/clipboard.min.js') }}" type="text/javascript"></script>

			{# Access to scan option for mobile #}
			{#
			<script src="{{ _filelatest('/scripts/libs/bridgeit.js') }}" type="text/javascript"></script>
			#}

			{#
				Desktop notification
				https://adodson.com/notification.js/#features
			#}
			<script src="{{ _filelatest('/scripts/libs/notification.js') }}" type="text/javascript"></script>
			<script src="{{ _filelatest('/scripts/libs/notify.js') }}" type="text/javascript"></script>

			{# for Chinese Pinyin #}
			<script src="{{ _filelatest('/scripts/libs/ChinesePY.js') }}" type="text/javascript"></script>

			<!--[if lte IE 8]>
				<script src="{{ _filelatest('/scripts/libs/excanvas.js') }}" type="text/javascript"></script>
			<![endif]-->
			<link rel="stylesheet" href="{{ _filelatest('/styles/libs/easyeditor.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/font-icon/style.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/generic/base.css') }}" type="text/css" />

			{# QR code scanner - http://dwa012.github.io/html5-qrcode/ #}
			{#<script src="{{ _filelatest('/scripts/libs/jsqrcode-combined.bruno.min.js') }}" type="text/javascript"></script>#}
			
			{#
				https://www.the-qrcode-generator.com/scan
				https://github.com/Schibum/barcode.js
			#}

			{% if user_info_2 == 'Wechat' %}
				<script src="{{ _filelatest('/scripts/libs/integration/jweixin-1.2.0.js') }}" type="text/javascript"></script>
				<script>
					base_is_wechat = true;
					//injection authentication
					alert("{{ wechat_package_appId }}");
					wx.config({
						debug: false,
						appId: "{{ wechat_package_appId }}",
						timestamp: "{{ wechat_package_timestamp }}",
						nonceStr: "{{ wechat_package_nonceStr }}",
						signature: "{{ wechat_package_signature }}",
						// list all APIs you are going to call in jsApiList
						jsApiList: [
							'scanQRCode'
						],
					});
				</script>
			{% else %}
				<script src="{{ _filelatest('/scripts/libs/barcode/w69b.qrcode.min.bruno.js') }}" type="text/javascript"></script>
				<script>
					var w69b_qrcode_decodeworker = "{{ _filelatest('/scripts/libs/barcode/w69b.qrcode.decodeworker.min.js') }}";
				</script>
			{% endif %}

			{# for Screenshot #}
			<script src="{{ _filelatest('/scripts/libs/html2canvas/html2canvas.min.js') }}" type="text/javascript"></script>

			<script src="{{ _filelatest('/scripts/libs/dom-to-image.min.js') }}" type="text/javascript"></script>

		</div>
		<div id="base_error"></div>
		<input id="base_input_focusHelper" type="text" readonly="readonly" class="visibility_hidden" />{# this is an empty input used as focus control #}
		{% block app_application %}
		{% endblock %}
		<div id="end_base" class="visibility_hidden">
			<img id="-submit_progress_bar" class="submit_progress_bar" find="submit_progress_bar" src="{{ _filelatest('/lincko/app/images/generic/base/generic/loading_bar.gif') }}"/>
		</div>
	</body>
{% endblock %}
