{# Category 13 #}
<div id="begin_skylist" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/skylist.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/generic/skylist.css') }}" type="text/css" />
</div>
<div id="end_skylist" class="visibility_hidden"></div>

<div class="display_none">

	<div id="-skylist_menu_navbar" class="skylist_menu_navbar">
		<span class = "skylist_menu_people"></span>
		<div class="skylist_menu_timesort"></div>
		<span title="{{ _trans('app', 13, 21, 'html') }}{#Filter your tasks or change views#}" class="skylist_menu_navbar_filter_icon icon-viewIcon skylist_clickable"></span>
		<div class="skylist_menu_navbar_filter_pane" tabindex="1">
			<table>
				<tr>
					<td find="filter_block1">
					</td>
					<td find="filter_block2">
						<div find="filter_header_1">{{ _trans('app', 13, 1, 'html') }}{#Filter#}:</div>
					</td>
				</tr>
			</table>
		</div>
		<div find="searchbar_wrapper" class="skylist_menu_navbar_search"></div>
	</div>
	<span id="-skylist_menu_timesort_text_wrapper" class="skylist_menu_timesort_text_wrapper" sort=''>
		<span find='indicator' class="minTablet"></span>
		<span find='text' class="skylist_menu_timesort_text"></span>
	</span>

	<div id="-skylist_menu_people_dropdown" class="skylist_menu_people_dropdown">
		<span find="arrow" class="fa fa-caret-down"></span>
		<div find="selected"></div>
		<div find="dropdown"></div>
	</div>

	<div id="-skylist_menu_people_dropdownBlock" class="skylist_menu_people_dropdownBlock base_pointer skylist_clickable">
		<span find="profile"></span>
		<span find="name">{{ _trans('app', 2, 5, 'html') }}{# All #}</span>
	</div>

	<span id="-skylist_menu_ringFilter" class="skylist_menu_ringFilter base_pointer skylist_clickable">
		<div find="canvasContainer">
			<div find="count"></div>
			<canvas></canvas>
		</div>
		<div find="name"></div>
	</span>

	{# for tasklist, goes inside skylist_menu_navbar_filter_pane #}
	<div id="-skylist_filter_tasks_radio_wrapper" find="radio_wrapper">
		<table find="option1" val="due" class="skylist_menu_navbar_filter_pane_optionWrapper skylist_clickable">
			<tr>
				<td find="radio" class="skylist_menu_navbar_filter_pane_radio fa fa-circle"></td>
				<td find="text">{{ _trans('app', 13, 3, 'html') }}{#sort by due date#}</td>
			</tr>
		</table>
		<table find="option2" val="updated" class="skylist_menu_navbar_filter_pane_optionWrapper skylist_clickable">
			<tr>
				<td find="radio" class="skylist_menu_navbar_filter_pane_radio fa"></td>
				<td find="text">{{ _trans('app', 13, 4, 'html') }}{#Sort by most recently updated#}</td>
			</tr>
		</table>
		<table find="option3" val="abc" class="skylist_menu_navbar_filter_pane_optionWrapper skylist_clickable">
			<tr>
				<td find="radio" class="skylist_menu_navbar_filter_pane_radio fa"></td>
				<td find="text">{{ _trans('app', 13, 22, 'html') }}{# Sort by task name #}</td>
			</tr>
		</table>
	</div>
	<div id="-skylist_filter_tasks_divider" class="skylist_menu_navbar_filter_pane_divider"></div>
	<div id="-skylist_filter_tasks_checkbox_wrapper" find="checkbox_wrapper" class="skylist_clickable">
		<table find="tb_completed" class="skylist_menu_navbar_filter_pane_optionWrapper">
			<tr>
				<td find="checkbox" class="skylist_menu_navbar_filter_pane_checkbox fa fa-check"></td>
				<td find="text">{{ _trans('app', 13, 5, 'html') }}{#Show completed tasks#}</td>
			</tr>
		</table>
		<table find="tb_showLinks" class="skylist_menu_navbar_filter_pane_optionWrapper">
			<tr>
				<td find="checkbox" class="skylist_menu_navbar_filter_pane_checkbox fa fa-check"></td>
				<td find="text">{{ _trans('app', 13, 14, 'html') }}{#Show Links#}</td>
			</tr>
		</table>
	</div>
	<div id="-skylist_filter_tasks_view_wrapper" class="skylist_filter_tasks_view_wrapper">
		<table>
			<tr>
				<td find="card">
					<span find="icon" class="icon-cardViewIcon"></span>
					<span>{{ _trans('app', 13, 9, 'html') }}{#Card#}</span>
				</td>
			</tr>
			<tr>
				<td find="paper">
					<span find="icon" class="icon-simplifiedViewIcon"></span>
					<span>{{ _trans('app', 13, 10, 'html') }}{#Paper#}</span>
				</td>
			</tr>
			<tr class="display_none">
				<td find="kanban">
					<span find="icon" class="icon-simplifiedViewIcon"></span>
					<span>{{ _trans('app', 13, 11, 'html') }}{#Kanban#}</span>
				</td>
			</tr>
		</table>
	</div>

	<div id='-skylist_subwrapper' class="skylist_subwrapper"></div>
	<div id="-skylist" class="skylist overthrow"></div>

	<div id="-skylist_card" find="card" class="skylist_card needsclick skylist_clickable">
		<div find='card_leftOptions' class="skylist_card_leftOptions maxMobileL skylist_clickable">
			<div class="skylist_leftOptionBox">
				<div class="icon-Trash"></div>
			</div>
		</div>
		<div find='card_rightOptions' class="skylist_card_rightOptions maxMobileL skylist_clickable"></div>
		<table find='card_center' class="skylist_card_center">
			<tr>
				<td find='card_spacestick' class="skylist_card_spacestick display_none">&nbsp;</td>
				<td find='card_leftbox' class="skylist_card_center_leftbox"></td>
				<td find='card_textwrapper' class="skylist_card_textwrapper">
					<div find='title' contenteditable="false" class="selectable"></div>
					<div find='description'></div>
				</td>
				<td find='card_rightbox'>
					<span find='links_wrapper' title="{{ _trans('app', 13, 20, 'html') }}{#View/Add files#}">
						<span find="links_icon" class="icon-links"></span>
						<span find='links' class="skylist_icon_text">(<span find="linkCount"></span>)</span>
					</span>
					<span find='comments_wrapper' title="{{ _trans('app', 13, 19, 'html') }}{#View/Add comments#}">
						<span find="comments_icon" class="icon-Pencil"></span>
						<span find='comments' class="skylist_icon_text">(<span find="commentCount"></span>)</span>
					</span>
				</td>
			</tr>
		</table>
		<input type="text" find="card_time_calendar_timestamp" class="skylist_card_time_hidden skylist_clickable display_none" readonly="readonly"/>
		<span find='card_time' class="fa fa-lock skylist_card_time floatright skylist_paddingRight"></span>
		<div class="skylist_card_progress skylist_card_progress_hidden">
			<div find="bar">
				<div find="percent"></div>
			</div>
		</div>
		<div find="expandable_links">
				<span find="btn_addNew" class="skylist_paperView_expandable_boxsize icon-links needsclick"></span>
		</div>
		<div find="expandable_comments">
			<span find="btn_addNew" class="submeu_taskdetail_blueButton">{{ _trans('app', 14, 2, 'html') }}</span>
		</div>
		<table find="card_bottom" class="skylist_card_bottom skylist_paddingRight ellipsis">
			<tr>
				<td>
					<span find="quickInfo1" class="floatleft"></span>
					<span find="quickInfo2" class="floatleft"></span>
					<span find="quickInfo3" class="floatleft"></span>
					<div find="nameWrapper">
						<span find="name_icon" class="icon-SmallPersonaiconBlack"></span>
						<span find='name' class="skylist_icon_text ellipsis"></span>
					</div>
					{# <input type="text" find='name_hidden' class="skylist_icon_text" readonly="readonly"/> #}
					<div find="commentsWrapper">
						<span find="comments_icon" class="icon-Pencil"></span>
						<span find='comments' class="skylist_icon_text">(<span find="commentCount"></span>)</span>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<span id="-skylist_newcardCircle" class="skylist_newcardCircle icon-Big-Add needsclick"></span>

	{#rightOptionBox, goes inside <div find='card_rightOptions' #}
	<div id="-skylist_rightOptionBox" class="skylist_rightOptionBox skylist_clickable needsclick">
		<div find='icon' class="fa"></div>
		<div find='text' class="skylist_rightOptionBox_text"></div>
	</div>

	{#for tasklist, goes inside <td find='card_leftbox'></td> #}
	<span id='-skylist_checkbox' find='checkbox' class="skylist_checkbox fa fa-check needsclick">
	</span>
	{#
	<span id='-skylist_checkbox' class="skylist_checkbox floatleft">
		<input type="checkbox" id="" name="checkname" value="" class="display_none">
		<label for="" class="icon-CheckboxCheck skylist_checkbox_visual"></label>
	</span>
	#}
	 <span id='-skylist_logo' class="skylist_logo floatleft logo_wrapper">
		<span class="logo"></span>
		<img src="" class="logo_img display_none">
		<div class="notification"></div>
	 </span>


	 <div id="-skylist_pageLoadSpinner" class="skylist_pageLoadSpinner"><span class="fa fa-spinner fa-spin"></span></div>

</div>

