{#
	How to use:
	$abc = 'A variable'
	$app->render('/bundles/lincko/wrapper/templates/debug.twig', array(
		'data' => $abc,
	));

	Then open the link (change the domain name according to dev(.net)/stage(.co)/production(.com) server)
	https://lincko.co/debug/twig
#}
<!doctype html>
<html>
<head>

<script src="{{ _filelatest('/scripts/libs/integration/jweixin-1.2.0.js') }}" type="text/javascript"></script>

<script>
	wx.config({
		debug: true,
		appId: "{{ wechat_package_appId }}",
		timestamp: "{{ wechat_package_timestamp }}",
		nonceStr: "{{ wechat_package_nonceStr }}",
		signature: "{{ wechat_package_signature }}",
		// list all APIs you are going to call in jsApiList
		jsApiList: [
			'scanQRCode',
		],
	});
	wx.ready(function(){
		wx.scanQRCode();
	});
</script>

<style type="text/css">
	body {
		margin: 0;
		padding: 0;
	}
</style>

</head>
<body>


Hello

</body>
</html>
