<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<title>{{ _trans('wrapper', 1, 1, 'html') }}{# Lincko - Team collaboration toll #}</title>
<link rel="shortcut icon" href="{{ _filelatest('/favicon.ico') }}" type="image/x-icon" />
<link rel="icon" href="{{ _filelatest('/favicon.ico') }}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ _filelatest('/favicon.ico') }}" type="image/x-icon" />

<!-- Start SEO -->
<meta name="description" content="Collaboratiion tool. Lincko helps your team to easily manage more projects and grow up your business faster!" />
<meta name="Keywords" content="lincko, collaboration tool, collaborative tool, project management software, project management, task manager, planner, online project management, project tracking, logiciel de gestion de projets, logiciel de gestion de projets, outil de collaboration, outil collaboratif, 协作工具, 项目管理软件, 项目管理软件" />
<!-- End SEO -->

<link rel="stylesheet" href="{{ _filelatest('/lincko/wrapper/styles/responsive.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ _filelatest('/styles/libs/roboto.css') }}" type="text/css" />

{# Load all libraries #}
<script src="{{ _filelatest('/scripts/libs/jquery-1.11.1.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/jquery.cookie.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/json3.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/blueimp.md5.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/amplify.store.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/jquery.requestAnimationFrame.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/fastclick.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/velocity.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/velocity.ui.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/verge.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/media.match.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/enquire.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/overthrow.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/bridgeit.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/php.js') }}" type="text/javascript"></script>

<script>

window.name = 'brunomartin';
document.domain = '{{ domain }}';

$.cachedScript = function( url ) {
	options = $.extend( {}, {
		dataType: "script",
		cache: true, //Do not need to care here, the cacheability is handle by PHP header
		url: url
	});
	return $.ajax( options );
};

//Global namespace (extend or create)
var Lincko = Lincko || {}; //Create singleton object

//Keep a record of JS files to be launch at the end of the page loading
var JSfiles = [];

{{ translation_list_js|raw }}
</script>


{#
	Load wrapper scripts
	Warning: Only scripts that does not depends on any library (i.e. if any jQuery code)
#}
<script src="{{ _filelatest('/lincko/wrapper/scripts/responsive.js') }}" type="text/javascript"></script>

<script>
$(function() {
	$.cachedScript("{{ _filelatest('/lincko/wrapper/scripts/error.js') }}");
	$.cachedScript("{{ _filelatest('/lincko/wrapper/scripts/divers.js') }}");
	$.cachedScript("{{ _filelatest('/lincko/wrapper/scripts/language.js') }}").success(function() {
		$.cachedScript("{{ _filelatest('/lincko/wrapper/scripts/wrapper.js') }}").success(function() {
			for(var key in JSfiles){
				$.cachedScript(JSfiles[key]);
			}
		});
	});
});


</script>
</head>
{% block base %}
{% endblock %}
</html>
