<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<title>{{ title }} - {{ _trans('wrapper', 1, 1, 'html') }}{# Lincko - The way of projects #}</title>
<link rel="shortcut icon" href="{{ _filelatest('/favicon.ico') }}" />
<link rel="icon" href="{{ _filelatest('/favicon.png') }}" type="image/png" />
<link rel="apple-touch-icon" href="{{ _filelatest('/favicon.png') }}" type="image/png" />
{# remove address bar for some mobile browsers #}
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-barstyle" content="default">

<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="date=no">
<meta name="format-detection" content="address=no">

<!-- Start SEO -->
<meta name="description" content="Collaboration tool. Lincko helps your team to easily manage more projects and grow up your business faster!" />
<meta name="Keywords" content="lincko, collaboration tool, collaborative tool, project management software, project management, task manager, planner, online project management, project tracking, logiciel de gestion de projets, logiciel de gestion de projets, outil de collaboration, outil collaboratif, 协作工具, 项目管理软件, 项目管理软件" />
<!-- End SEO -->

<link rel="stylesheet" href="{{ _filelatest('/styles/libs/jquery-ui.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ _filelatest('/scripts/libs/trip/trip.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ _filelatest('/styles/libs/font-awesome.min.css') }}" type="text/css" />

<style type="text/css">
	{% set language = _language() %}
	{% if language == 'ko' %}
		html, .font_sans_serif {
			font-family: "나눔고딕", NanumGothic, "맑은 고딕", Malgun Gothic, "San Francisco", Roboto, "Helvetica Neue", Helvetica, Tahoma, Verdana, "Nimbus Sans L", "URW Gothic L", "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif !important;
		}
	{% elseif language == 'zh-chs' %}
		html, .font_sans_serif {
			font-family: "微软雅黑", "冬青黑体", "华文细黑", "Microsoft Yahei", "宋体", "San Francisco", Roboto, "Helvetica Neue", Helvetica, Tahoma, Verdana, "Nimbus Sans L", "URW Gothic L", "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif !important;
		}
	{% elseif language == 'zh-cht' %}
		html, .font_sans_serif {
			font-family: "微软雅黑", "冬青黑体", "华文细黑", "Microsoft Yahei", "宋体", "San Francisco", Roboto, "Helvetica Neue", Helvetica, Tahoma, Verdana, "Nimbus Sans L", "URW Gothic L", "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif !important;
		}
	{% endif %}
</style>

{# Load all libraries #}

<!--[if lte IE 8]>
	console.log('addEventlisterner bugs in IE8');
	<script src="{{ _filelatest('/scripts/libs/ie8.js') }}" type="text/javascript"></script>
<![endif]-->

<script src="{{ _filelatest('/scripts/libs/jquery-1.12.0.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/lincko/wrapper/scripts/polyfill.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/jquery-ui-1.12.1/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/js.cookie.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/json3.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/blueimp.md5.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/amplify.store.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/fastclick.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/hammer.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/jquery.hammer.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/velocity.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/velocity.ui.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/verge.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/media.match.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/enquire.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/php.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/base64.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/object-keys-polyfill.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/encoder.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/iscroll.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/jquery.selection.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/LZipperLite.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/trip/trip.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/scripts/libs/es6-promise.min.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/lincko/wrapper/scripts/error.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/lincko/wrapper/scripts/static.js') }}" type="text/javascript"></script>

<script>

var wrapper_user_info = [
	"{{ user_info_0 }}",
	"{{ user_info_1 }}",
	"{{ user_info_2 }}",
	"{{ user_info_3 }}"
];


var wrapper_hash = document.location.hash;
{% if link_reset %}
	//Clean the URL
	window.history.replaceState(null, null, "/");
{% endif %}

window.name = 'brunomartin';
document.domainRoot = '{{ domain }}';
{% if workspace %}
	document.domain = '{{ workspace }}.{{ domain }}';
{% else %}
	document.domain = '{{ domain }}';
{% endif %}
document.linckoBack = '{{ lincko_back }}';
document.linckoFront = '{{ lincko_front }}';
document.linckoWorkspace = '{{ workspace }}';
var wrapper_show_error = {{ lincko_show_dev }};
var wrapper_title = "{{ _trans('wrapper', 1, 1, 'html') }}";
var wrapper_main_title = "{{ title }}";
document.linckoBackPort = 8443;
{% if lincko_show_dev %}
	if(top.location.protocol.indexOf('https')==-1){
		document.linckoBackPort = 8080;
	}
{% endif %}

var wrapper_force_open_website = false;
{% if force_open_website %}
	wrapper_force_open_website = true;
{% endif %}

var wrapper_domain_debug = false;
{% if domain_debug %}
	wrapper_domain_debug = "{{ domain_debug }}";
{% endif %}

var wrapper_shangzai = false;
{% if domain_debug %}
	wrapper_shangzai = "{{ shangzai }}";
{% endif %}


//In IE console is undefined if the dev tool is closed
if(!window.console){
	console = {
		log: function() {
			return true;
		}
	};
}

var app_language_short = "{{ _language() }}";
var app_language_group = parseInt("{{ _trans('app', 0, 0) }}", 10); //(integer) Group number for burger feature
var app_language_month = "{{ _trans('app', 0, 1) }}"; //month
var app_language_day = "{{ _trans('app', 0, 2) }}"; //day

var wrapper_link = [];
//In those links we keep the workspace in purpose for businesses to make easier the relogin to their area
if(document.linckoWorkspace){
	wrapper_link['root'] = top.location.protocol+'//'+document.linckoFront+document.linckoBack+document.domain+"{{ urlFor('root') }}";
} else {
	wrapper_link['root'] = top.location.protocol+'//'+document.linckoFront+document.linckoBack+document.domain+"{{ urlFor('root') }}";
}
wrapper_link['home'] = top.location.protocol+'//'+document.linckoFront+document.linckoBack+document.domain+"{{ urlFor('home') }}";
wrapper_link['appstore'] = "{{ appstore }}";
wrapper_link['support'] = 'mailto:support@' + document.domain;

//Do not use "success", it can bug for some files, use "complete" as callback
$.cachedScript = function( url ) {
	options = $.extend( {}, {
		dataType: "script",
		cache: true, //Do not need to care here, the cacheability is handle by PHP header
		url: url, //Note: A different sub domain will not cache the file
	});
	return $.ajax( options );
};

//Global namespace (extend or create)
var Lincko = Lincko || {}; //Create singleton object

//Keep a record of JS files to be launch at the end of the page loading
//Can only add methods, cannot add property because it migth bug the page loading
var JSfiles = {};

//This timeout help some window resize, or scroll, to not be called continuously
var wrapper_timeout_timer = 200;

//Number of priorities load to helps the progress bar to move
var wrapper_load_progress = {
	progress_bar: null, //ID of HTML element. A % will be given to it's width.
	progress_wall: null, //ID of HTML element. The element will progressively disappear after the progress match 100%
	progress: 0,
	done: false,
	cb_complete: [],
	JSfiles_total: 0,
	JSfiles_current: 0,
	JSfiles_pourcentage_start: 10,
	JSfiles_pourcentage_end: 60,

	add_cb_complete: function(cb){
		if(typeof cb == "function"){
			this.cb_complete.push(cb);
		}
	},
	
	JSfiles_load: function(){
		this.JSfiles_current++;
		var pc = 0;
		if(this.JSfiles_total>0){
			pc = this.JSfiles_current/this.JSfiles_total;
		}
		var result = 50;
		if(pc<0){ pc=0; }
		else if(pc>1){ pc=1; }
		result = Math.ceil(
			this.JSfiles_pourcentage_start + pc*(this.JSfiles_pourcentage_end - this.JSfiles_pourcentage_start)
		);
		if(result<this.JSfiles_pourcentage_start){ result=this.JSfiles_pourcentage_start; }
		else if(result>this.JSfiles_pourcentage_end){ result=this.JSfiles_pourcentage_end; }
		this.move(result);
		return true;
	},

	hide_progress_wall: function(){
		clearInterval(wrapper_loading_sentences_change);
		if($('#'+this.progress_wall).length>0){
			$('#'+this.progress_wall).velocity(
				{
					opacity: 0,
				},
				{
					delay: 150,
					duration: 100,
					begin: function(){
						for(var i in wrapper_load_progress.cb_complete){
							if(typeof wrapper_load_progress.cb_complete[i] == "function"){
								wrapper_load_progress.cb_complete[i]();
							}
						}
					},
					complete: function(){
						$(this).hide().recursiveRemove();
						$('#wrapper_loading').addClass('display_none');
					},
				}
			);
		}
	},

	warning: function(warn){
		if(typeof value != 'boolean'){
			warn = true;
		}
		if(!this.done && $('#'+this.progress_bar).length>0){
			if(warn){
				$('#'+this.progress_bar).addClass('wrapper_loading_progress_bar_warning');
			} else {
				$('#'+this.progress_bar).removeClass('wrapper_loading_progress_bar_warning');
			}
		}
	},

	move: function(value){
		if(this.done){
			//Do nothing since the page is open already
			return true;
		}
		var time = 2000;
		var that = this;
		if(typeof value === 'number'){
			if(value < 0){ value = 0; }
			else if(value > 100){ value = 100; }
			else if(value <= this.progress) { return true; } //We do nothing, because we only go forward
			this.progress = value;
			if(value>=100){
				time = 300;
			}
			if(!this.done && $('#'+this.progress_bar).length>0){
				value = Math.ceil(value);
				if(value>=100){
					this.done = true;
				}
				$('#'+this.progress_bar).clearQueue().stop().animate(
					{
						width: value+'%',
					},
					{
						duration: time,
						complete: function(){
							if(wrapper_load_progress.progress>=100){
								wrapper_load_progress.hide_progress_wall();
								wrapper_load_progress.done = true;
							}
						},
					}
				);
			} else {
				that.hide_progress_wall();
				that.done = true;
			}
		}
	},
};

//Keep a record of all functions we need to run once all JS files are loaded
var wrapper_after_dom = {};

JSfiles.finish = function(action, priority){
	if(typeof priority !== 'number'){ priority = 50;}
	if(typeof wrapper_after_dom[priority] === 'undefined'){
		wrapper_after_dom[priority] = [];
	}
	wrapper_after_dom[priority].push(action);
};

//It keeps a record of all libraries that must be loaded after DOM load, it has priority level too
//Libraries with priority lower than 50 might be a dependency of other libraries, higher than 50 are sure other library will not need it (default).
JSfiles.later = function(url, priority){
	if(typeof priority !== 'number'){ priority = 50; }
	if(typeof JSfiles[priority] === 'undefined'){
		JSfiles[priority] = [];
	}
	JSfiles[priority].push(url);
};

JSfiles.loadLibraries = function(){
	var files = [];
	var url = '';
	var length = 0;
	var pri_tp = false;
	//It will help to start from the smallest number
	for(var pri in this){
		if($.isNumeric(pri) && ($.type(this[pri]) == 'array' || $.type(this[pri]) == 'object')){
			if(pri_tp === false || pri < pri_tp){
				pri_tp = pri;
			}
		}
	}
	if(pri_tp !== false){
		files = this[pri_tp];
		length = files.length;
		for(var key in files){
			url = files[key];
			$.cachedScript(url).always(function() {
				length--;
				if(length<=0){
					wrapper_load_progress.JSfiles_load();
					delete JSfiles[pri_tp];
					JSfiles.loadLibraries();
				}
			});
		}
		return true;
	}
	//Once it reach a string, it means there is no more js files to load, so we can launch the ultimate functions
	var asc_order = Object.keys(wrapper_after_dom).sort(function(a, b) { return a - b; }); //From smalll(high priority) to big(low priority)
	for(var i in asc_order){
		pri_tp = asc_order[i];
		for(var action in wrapper_after_dom[pri_tp]){
			wrapper_after_dom[pri_tp][action]();
		}
	}
	//The latest operation would be to trigger the window resize event to be sure the display fit the screen
	$(window).trigger('resize');
	//After 20s wait we always force to display
	setTimeout(function(){
		wrapper_load_progress.move(80);
	}, 3000);
	setTimeout(function(){
		wrapper_load_progress.move(90);
	}, 6000);
	setTimeout(function(){
		wrapper_load_progress.move(95);
	}, 20000);
	setTimeout(function(){
		wrapper_load_progress.move(99);
	}, 30000);
	setTimeout(function(){//In all cases open the page after 45s
		wrapper_load_progress.move(100);
	}, 45000);
};

var wrapper_fp = '{{ fingerprint }}';

var wrapper_localstorage = {
	sha: '{{ sha }}',
	uid: '{{ uid }}',
	ucode: '{{ ucode }}',
	workspace: '{{ workspace|lower }}',
	prefixuid: '_{{ uid }}_',
	prefix: '_{{ uid }}_{{ workspace|lower }}_',
	quota: [],
	logged: '{{ logged }}',
	styling: '{{ styling }}',
};

//Convert User ID into integer
if(wrapper_localstorage.uid){
	wrapper_localstorage.uid = parseInt(wrapper_localstorage.uid, 10);
} else {
	wrapper_localstorage.uid = false;
}

var wrapper_neutral = new Image();
wrapper_neutral.src = "{{ _filelatest('/lincko/wrapper/images/generic/neutral.png') }}";

//Loading sentences changer
var wrapper_loading_sentences_timer;
wrapper_loading_sentences_timer = setInterval(function(){
	wrapper_loading_sentences_change();
}, 4000);
var wrapper_loading_sentences_change = function(){
	if($('#wrapper_loading_sentences').length > 0){
		var min = 14001;
		var max = 14010;
		var day = (new Date()).getDay();
		if(day==0 || day==6){
			var min = 14011;
			var max = 14016;
		}
		var random = Math.floor(Math.random() * (max - min + 1)) + min;
		$('#wrapper_loading_sentences').text(Lincko.Translation.get('app', random, 'html'));
	}
};

//Load all JS libraries only after DOM load
$(function() {
	wrapper_loading_sentences_change();
	wrapper_load_progress.move(5);
	for(var pri in JSfiles){
		if($.isNumeric(pri) && ($.type(JSfiles[pri]) == 'array' || $.type(JSfiles[pri]) == 'object')){
			wrapper_load_progress.JSfiles_total++;
		}
	}
	JSfiles.loadLibraries();
});

//Minimal libraries
JSfiles.later("{{ _filelatest('/lincko/wrapper/scripts/null.js') }}", 0); //This empty file helps to load the first 304
JSfiles.later("{{ _filelatest('/lincko/wrapper/scripts/divers.js') }}", 1);
JSfiles.later("{{ _filelatest('/lincko/wrapper/scripts/language.js') }}", 30);
JSfiles.later("{{ _filelatest('/lincko/wrapper/scripts/date.js') }}", 30);
JSfiles.later("{{ _filelatest('/lincko/wrapper/scripts/wrapper.js') }}", 40);
JSfiles.later("{{ _filelatest('/lincko/wrapper/scripts/mobile.js') }}", 50);

//must run before DOM load, but after ckeditor.js library load
if(CKEDITOR){
	CKEDITOR.disableAutoInline = true;
	CKEDITOR.config.allowedContent = true;
	CKEDITOR.config.title = false;
	//CKEDITOR.config.extraAllowedContent = 'img[src,alt,width,height];h1[*]';
	//CKEDITOR.config.extraAllowedContent = 'h1[src,alt,width,height]';
	//CKEDITOR.config.linkShowAdvancedTab = false
  	CKEDITOR.config.linkShowTargetTab = false;
  	CKEDITOR.config.fillEmptyBlocks = false;
  	CKEDITOR.dtd.$removeEmpty['span'] = false;
}

//Check if WebWorker is available
var webworker = false;
var webperf = false;
if (typeof Worker != 'undefined') {
	webworker = new Worker("{{ _filelatest('/lincko/app/scripts/workers/worker.js') }}");
	webperf   = new Worker("{{ _filelatest('/lincko/app/scripts/workers/worker.js') }}");
}

if(webworker && webperf){
	//Preload worker libraries needed
	webworker.postMessage({action: 'importscript', data: "{{ _filelatest('/scripts/libs/LZipperLite.js') }}",});
	webworker.postMessage({action: 'importscript', data: "{{ _filelatest('/scripts/libs/blueimp.md5.min.js') }}",});
	webworker.postMessage({action: 'importscript', data: "{{ _filelatest('/scripts/libs/ChinesePY.js') }}",});
	webworker.postMessage({action: 'importscript', data: "{{ _filelatest('/scripts/libs/ChinesePY.extensions.js') }}",});

	//Return message
	webworker.addEventListener("message", function(e){
		webworker_operation.launch_operation(e);
	});

	//Return message
	webperf.addEventListener("message", function(e){
		webworker_operation.launch_operation(e);
	});
	
	window.addEventListener("message", function(e){
		webworker_operation.launch_operation(e);
	});
}

var webworker_operation = {

	launch_operation: function(e){
		var object = e.data;
		if(object && object.action){
			var data = null;
			if(typeof object.data != "undefined"){
				data = object.data;
			}
			if(typeof webworker_operation[object.action] == 'function'){
				webworker_operation[object.action](data);
			}
		}
	},

	//webworker.postMessage({action: 'test', data: 123,});
	test: function(obj_data){
		console.log(obj_data);
	},

	LocalStorageIn: function(obj_data){
		wrapper_localstorage.encrypt_running = false;
		if(typeof obj_data == 'undefined' || typeof obj_data.link == 'undefined'){
			return false;
		}
		var link = obj_data.link;
		var store_data = obj_data.data;
		var tryit = obj_data.tryit;
		var sha = obj_data.sha;
		var prefix = obj_data.prefix;
		try {
			var time = 1000*3600*24*90; //Keep the value for 3 months
			result = amplify.store(prefix+link, store_data, { expires: time });
			if(!result){
				this.LocalStorageInFailed();
			}
		} catch(e) {
			console.log(e);
			this.LocalStorageInFailed();
		}
	},

	LocalStorageInFailed: function(obj_data){
		wrapper_localstorage.emptyStorage();
		wrapper_localstorage.encrypt_running = false;
		if(typeof obj_data == 'undefined' || typeof obj_data.link == 'undefined'){
			return false;
		}
		var link = obj_data.link;
		var tryit = obj_data.tryit;
		var sha = obj_data.sha;
		var prefix = obj_data.prefix;
		wrapper_localstorage.quota[link] = false;
		amplify.store(wrapper_localstorage.prefix+link, null);
	},

	indicePerformance: function(indice){
		wrapper_performance.indice = indice;
		if(indice < 300){ //Loop 30 => 300 ms max
			wrapper_performance.powerfull = true;
		} else {
			wrapper_performance.powerfull = false;
		}
		wrapper_performance.setDelay();
	},

	update_data_abc: function(obj_data){
		var type = obj_data.type;
		var id = parseInt(obj_data.id,10);
		var attr = obj_data.attr;
		var s_abc = obj_data.s_abc;
		var s_orig = obj_data.s_orig;

		//pinyin translation same as original string, then no need to add to data_abc
		if(!s_abc 
			&& Lincko.storage.data_abc[type] 
			&& Lincko.storage.data_abc[type][id] 
			&& Lincko.storage.data_abc[type][id][attr]){
			delete Lincko.storage.data_abc[type][id][attr]; //delete any old translations
		}
		if(s_abc){
			if(!Lincko.storage.data_abc[type]){ Lincko.storage.data_abc[type] = {}; }
			if(!Lincko.storage.data_abc[type][id]){ Lincko.storage.data_abc[type][id] = {}; }
			Lincko.storage.data_abc[type][id][attr] = s_abc;
			Lincko.storage.data_abc[type][id]._type = type;
			Lincko.storage.data_abc[type][id]._id = id;
		}
	}

};

//http://www.opentechguides.com/how-to/article/javascript/98/detect-mobile-device.html
var isMobileBrowser = function(){
	return /webOS|iPhone|iPad|BlackBerry|Windows Phone|Opera Mini|IEMobile|Mobile/i.test(navigator.userAgent);
}

//Check connection type
//https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API
var wrapper_connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection;
var wrapper_connection_type = false;
if(typeof wrapper_connection != "undefined" && typeof wrapper_connection.type != "undefined"){
	wrapper_connection_type = wrapper_connection.type;
	wrapper_connection.addEventListener('typechange', function(){
		wrapper_connection_type = wrapper_connection.type;
	});
}



//https://www.w3schools.com/js/js_cookies.asp
function getCookie(cname) {
	var name = cname + "=";
	var decodedCookie = decodeURIComponent(document.cookie);
	var ca = decodedCookie.split(';');
	for(var i = 0; i <ca.length; i++) {
		var c = ca[i];
		while (c.charAt(0) == ' ') {
			c = c.substring(1);
		}
		if (c.indexOf(name) == 0) {
			return c.substring(name.length, c.length);
		}
	}
	return "";
} 



</script>

{#
	Warning: Only scripts that does not depends on any library (i.e. if any jQuery code)
#}
<link rel="stylesheet" href="{{ _filelatest('/lincko/wrapper/styles/responsive.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ _filelatest('/lincko/wrapper/styles/divers.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ _filelatest('/lincko/wrapper/styles/wrapper.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ _filelatest('/styles/libs/roboto.css') }}" type="text/css" />
<script src="{{ _filelatest('/lincko/wrapper/scripts/responsive.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/translation/list.js') }}" type="text/javascript"></script>
<script src="{{ _filelatest('/translation/date.js') }}" type="text/javascript"></script>

</head>
<body id="body_lincko" class="base_color_text_white unselectable">
	<div id="wrapper_loading">
		{% include '/bundles/lincko/wrapper/templates/loading.twig' %}
	</div>
	{% if user_info_2 == 'Wechat' and integration_wechat_show_official %}
		<div id="wrapper_wechat" class="display_none">
			{% include '/bundles/lincko/wrapper/templates/wechat.twig' %}
		</div>
	{% endif %}
	{% block base %}
	{% endblock %}
</body>
</html>
