{# category 1 #}
{% set route = _route_name() %}
<div class="display_none">

	<script>
		var submenu_list = [];
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/submenu/generic/submenu.js') }}", 30);
		{# Loop the folder to include automaticaly all files #}
		{% set folder = '/lincko/app/scripts/submenu' %}
		{% set files = _loop_public_folder(folder) %}
		{% for key, value in files %}
			JSfiles.later("{{ _filelatest(folder ~ '/' ~ value) }}", 40);
		{% endfor %}

		var submenu_language_full = "{{ _language_full() }}";
		{% set language = _language() %}
		{% set languages = _languages('app') %}
		submenu_list['language'] = {
			"_title": {
				"style": "customized_title",
				"title": Lincko.Translation.get('app', 1, 'html'), //Language
			},
			"left_button": {
				"style": "title_left_button",
				"title": Lincko.Translation.get('app', 25, 'html'), //Close
				'hide': true,
				"class": "base_pointer",
			},
			
			{% for key, value in languages %}
				"{{ key }}": {
					"style": "radio",
					"title": "{{ value }}",
					"selected": {% if key == language %}true{% else %}false{% endif %},
					"action": function(){
						ChangeLanguage("{{ key }}");
					},
					"hide": true,
					"class": "",
				},
			{% endfor %}
		};
	</script>

	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/submenu/generic/submenu.css') }}" type="text/css" />
	{# Loop the folder to include automaticaly all files #}
	{% set folder = '/lincko/app/styles/submenu' %}
	{% set files = _loop_public_folder(folder) %}
	{% for key, value in files %}
		<link rel="stylesheet" href="{{ _filelatest(folder ~ '/' ~ value) }}" type="text/css" />
	{% endfor %}

</div>
<div class="display_none">
	
	{# Loop the folder to include automaticaly all files #}
	{% set folder = '/submenu' %}
	{% set bundle = 'lincko/app' %}
	{% set files = _loop_twig_folder(bundle, folder) %}
	{% for key, value in files %}
		{% include value %}
	{% endfor %}

</div>

<div id="end_submenu" class="visibility_hidden"></div>
