{# category 3 #}
<link rel="stylesheet" href="{{ _filelatest('/lincko/web/styles/generic/foot.css') }}" type="text/css" />
<div id='begin_foot'></div>
<footer class="footer">
	<div class="minTablet">
		<div class="footer_information DIVcenter">
			<span class="floatleft padding">
				Copyright © 2011-{{ "now"|date("Y") }} Lincko.<br />
				<a target="_blank" style="color: currentColor;" href="{{ terms }}">{{ _trans('web', 3, 1, 'html') }}{# Terms of use and Privacy policy #}</a><br />
				<br />
				{{ _trans('web', 3, 2, 'html') }}{# By using this site you agree to the use of cookies for analytics and personalised content. #}
			</span>
			<span class="floatright padding">
				<img class="footer_image" src="{{ _filelatest('/lincko/web/images/foot/earth16.png') }}" />
				<form id="translation" action="{{ _language_uri() }}" method="post">
					<select id="translation_language" name="translation_language" class="footer_select" onchange="this.form.submit();" >
						<img class="footer_image" src="{{ _filelatest('/lincko/web/images/foot/earth16.png') }}" />
						{% set language = _language() %}
						{% set languages = _languages('web') %}
						{% for key, value in languages %}
							<option value="{{ key }}" title="{{ value }}" {% if key == language %}selected="selected"{% endif %} >{{ value }}</option>
						{% endfor %}
					</select>
				</form>
			</span>
		</div>
	</div>
</footer>
<div id='end_foot'></div>