<script>
	JSfiles.push("{{ _filelatest('/lincko/web/scripts/generic/head.js') }}");
</script>
<link rel="stylesheet" href="{{ _filelatest('/lincko/web/styles/generic/head.css') }}" type="text/css" />
<div id='begin_head'></div>
<nav class="base_menu base_nav">
	<div class="minTablet DIVcenter head_ul">
		<div class="head_logo floatleft unselectable" id="head_home">
			<span>
				<div class="base_menu">
					<img class="head_image" src="{{ _filelatest('/lincko/web/images/base/logo/lincko.png') }}" />
				</div>
			</span>
		</div>
		<div class="head_menu floatleft unselectable" id="head_features"><span>Features</span></div>
		<div class="head_menu floatleft unselectable" id="head_price"><span>Price</span></div>
		<div class="head_menu floatleft unselectable" id="head_download"><span>Download</span></div>
		<div class="head_menu floatleft unselectable" id="head_help"><span>Help</span></div>
		{% if yonghu and jizhu %}
			<div class="head_signout floatright unselectable"><span><span>Sign out</span></span></div>
			<div class="head_account floatright unselectable"><span><span>My account</span></span></div>
		{% else %}
			<div class="head_joinus floatright unselectable"><span><span>Join us</span></span></div>
			<div class="head_signin floatright unselectable"><span><span>Sign in</span></span></div>
		{% endif %}
	</div>
	<div class="maxMobileL DIVcenter head_ul mobile">
		<div class="head_logo floatleft unselectable" id="head_home">
			<span>
				<div class="base_menu">
					<img class="head_image" src="{{ _filelatest('/lincko/web/images/base/logo/lincko.png') }}" />
				</div>
			</span>
		</div>
		<div class="head_menu icons floatright unselectable" id="head_features">
			<span>
				<img class="head_icons" src="{{ _filelatest('/lincko/web/images/head/menu11_0.png') }}" />
			</span>
		</div>
		{% if yonghu and jizhu %}
			<div class="head_account floatright unselectable" id="head_features"><span><span>My account</span></span></div>
		{% else %}
			<div class="head_joinus mobile floatright unselectable"><span><span>Sign in</span></span></div>
		{% endif %}
	</div>
</nav>
<div class="maxMobileL head_menu_extend">
	{% if yonghu and jizhu %}
		<div class="base_optionTab head_menu_deco unselectable"><span>My account</span></div>
	{% else %}
		<div class="base_optionTab head_menu_deco unselectable"><span>Sign in</span></div>
		<div class="base_optionTab head_menu_deco unselectable"><span>Join us</span></div>
	{% endif %}
	<div class="base_optionTab head_menu_deco unselectable"><span>Features</span></div>
	<div class="base_optionTab head_menu_deco unselectable"><span>Price</span></div>
	<div class="base_optionTab head_menu_deco unselectable"><span>Download</span></div>
	<div class="base_optionTab head_menu_deco unselectable"><span>Help</span></div>
	<div class="base_optionTab head_menu_deco unselectable">
		<span class="floatleft">Language</span>
		<span class="floatright head_menu_value">{{ _language() }}</span>
	</div>
	{% if yonghu and jizhu %}
		<div class="base_optionTab head_menu_deco unselectable"><span>Sign out</span></div>
	{% endif %}
</div>
<div id='end_head'></div>