{% extends '/bundles/lincko/app/templates/generic/base.twig' %}
ok
{% block app_application %}
<div id="begin_app_application" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/application.js') }}", 10);
		//Some JS that are not linked to a twig file
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/storage.js') }}", 40);
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/velocity.js') }}");
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/users.js') }}");
	</script>
	{% include '/bundles/lincko/app/templates/generic/scripts/storage.js.twig' %}
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/application.css') }}" type="text/css" />
</div>
<div id="app_application_loading">
	{% include '/bundles/lincko/app/templates/app/loading.twig' %}
</div>
<div id="app_application_main">
	<div id="app_application_project" class="accelerated_bughiddenonsomemobile">
		{% include '/bundles/lincko/app/templates/app/project.twig' %}
	</div>
	<div id="app_application_content" class="accelerated_bugwithposition">
		{% include '/bundles/lincko/app/templates/app/content.twig' %}
	</div>
	<div id="app_application_project_block" class="app_application_block maxMobileL"></div>
</div>
<div id="app_application_submenu_block" class="accelerated">
	{% include '/bundles/lincko/app/templates/submenu/generic/submenu.twig' %}
</div>
<div class="app_application_upload">
	{% include '/bundles/lincko/app/templates/app/upload.twig' %}
</div>
<div id="end_app_application" class="visibility_hidden"></div>
{% endblock %}
