{% extends '/bundles/lincko/app/templates/generic/base.twig' %}
{% set route = _route_name() %}

{% block app_application %}
<div id="begin_app_application" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/application.js') }}", 10);
		//Some JS that are not linked to a twig file
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/storage.js') }}", 40);
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/velocity.js') }}");
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/previewer.js') }}");
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/state.js') }}");
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/users.js') }}");
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/bigbrother.js') }}");
		var app_application_icon_single_user = new Image();
		app_application_icon_single_user.src = "{{ _filelatest('/lincko/app/images/submenu/settings/user.png') }}";
		var app_application_icon_single_wechat_account = new Image();
		app_application_icon_single_wechat_account.src = "{{ _filelatest('/lincko/app/images/submenu/settings/wechat_account.jpg') }}";
		var app_application_icon_roboto = new Image();
		app_application_icon_roboto.src = "{{ _filelatest('/lincko/app/images/generic/roboto/roboto_1.png') }}";
		var app_application_icon_monkeyking = new Image();
		app_application_icon_monkeyking.src = "{{ _filelatest('/lincko/app/images/generic/monkeyking/monkeyking.jpg') }}";
		var app_application_loading_bar = new Image();
		app_application_loading_bar.src = "{{ _filelatest('/lincko/app/images/generic/base/generic/loading_bar.gif') }}"
		var app_application_hashtag = false;
		{% if hashtag %}
			app_application_hashtag = "{{ hashtag }}";
		{% endif %}
		var app_application_ios_translation_string = {
			'ios_str_current': "{{ _trans('app', 40, 2, 'js') }}", //'现在',
			'ios_str_cancel': "{{ _trans('app', 1, 4, 'js') }}", //'取消',
			'ios_str_scan': "{{ _trans('app', 43, 1, 'js') }}", //'扫一扫',
			'ios_str_alarm': "{{ _trans('app', 43, 2, 'js') }}", //'警告',
			'ios_str_permission': "{{ _trans('app', 43, 3, 'js') }}", //'请去-> [设置 - 隐私 - 照片 - Lincko] 打开访问开关',
			'ios_str_ok': "{{ _trans('app', 43, 4, 'js') }}", //'确定',
			'ios_str_tags': "{{ _trans('app', 43, 5, 'js') }}", //'提示',
			'ios_str_reason': "{{ _trans('app', 43, 6, 'js') }}", //'由于系统原因, 无法访问相册',
			'ios_str_nice_tags': "{{ _trans('app', 43, 7, 'js') }}", //'温馨提示',
			'ios_str_no_camera': "{{ _trans('app', 43, 8, 'js') }}", //'未检测到您的摄像头',
			'ios_str_qrcode_info': "{{ _trans('app', 2, 21, 'js') }}", //'将二维码/条码放入框内, 即可自动扫描',
			'ios_str_turn_on_light': "{{ _trans('app', 43, 9, 'js') }}", //'打开照明灯',
			'ios_str_turn_off_light': "{{ _trans('app', 43, 10, 'js') }}", //'关闭照明灯',
		};
		JSfiles.finish(function(){
			if(isMobileApp() && device_type()=='ios'){ //ios
				window.webkit.messageHandlers.iOS.postMessage(
					{
						action: 'translation_string',
						data: app_application_ios_translation_string,
					}
				);
			} else if(device_type() == 'android' && typeof android.translationString == 'function'){
				android.translationString(
					app_application_ios_translation_string.ios_str_scan, 
					app_application_ios_translation_string.ios_str_qrcode_info
				);
			}
		});
	</script>
	{% include '/bundles/lincko/app/templates/generic/scripts/storage.js.twig' %}
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/application.css') }}" type="text/css" />
</div>
<div id="app_application_main">	
	<span id="app_application_menu_icon" class="base_pointer icon-projectBlack" src="{{ _filelatest('/lincko/app/images/app/menu.png') }}" alt="{{ _trans('app', 17, 1, 'html') }}{# Main Menu #}" title="{{ _trans('app', 17, 1, 'html') }}{# Main Menu #}" ></span>
	<div id="app_application_project" class="accelerated_bughiddenonsomemobile">
		{% include '/bundles/lincko/app/templates/app/project.twig' %}
	</div>
	<div id="app_application_content" class="accelerated_bugwithposition">
		{% include '/bundles/lincko/app/templates/app/content.twig' %}
	</div>
	<div id="app_application_project_block" class="app_application_block maxMobileL"></div>
</div>
<div id="app_application_lincko_action" class="icon-Tasks"></div>
<div id="app_application_submenu" class="accelerated display_none">
	{% include '/bundles/lincko/app/templates/submenu/generic/submenu.twig' %}
</div>
<div id="app_application_submenu_block" class="accelerated base_color_text_grey">
</div>
<div class="app_application_upload">
	{% include '/bundles/lincko/app/templates/app/upload.twig' %}
</div>
<div id="app_application_burger">
	{% include '/bundles/lincko/app/templates/generic/burger.twig' %}
</div>
<div id="app_application_skylist">
	{% include '/bundles/lincko/app/templates/generic/skylist.twig' %}
</div>
<div id="app_application_linckoEditor">
	{% include '/bundles/lincko/app/templates/generic/linckoEditor.twig' %}
</div>
<div id="app_application_searchbar">
	{% include '/bundles/lincko/app/templates/generic/searchbar.twig' %}
</div>
<div id="app_application_inputter">
	{% include '/bundles/lincko/app/templates/generic/inputter.twig' %}
</div>
<div id="app_application_onboarding">
	{% include '/bundles/lincko/app/templates/generic/onboarding.twig' %}
</div>
<div id="app_application_sharepanel">
	{% include '/bundles/lincko/app/templates/generic/sharepanel.twig' %}
</div>
<div id="app_application_isOffline">
	{% include '/bundles/lincko/app/templates/generic/isOffline.twig' %}
</div>
<div id="app_application_alphaScroll">
	{% include '/bundles/lincko/app/templates/generic/alphaScroll.twig' %}
</div>
{% if workspace %}
	<div id="app_application_entreprise">
		{% include '/bundles/lincko/app/templates/generic/entreprise.twig' %}
	</div>
{% endif %}
<div id="app_application_garbage" class="display_none"></div>
<div id="end_app_application" class="visibility_hidden"></div>
{% endblock %}
