{# category 4 #}
<div id="begin_app_content" class="visibility_hidden">
	<script>
		JSfiles.push("{{ _filelatest('/lincko/app/scripts/app/content.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/content.css') }}" type="text/css" />
</div>
<!--
<div class="app_content_table">
	<div class="app_content_row_top">
		<div>
			<div class="app_content_top_left">
				<img id="app_content_top_project" src="{{ _filelatest('/lincko/app/images/app/content/project.png') }}" alt="{{ _trans('app', 4, 1, 'html') }}{# Projects #}" title="{{ _trans('app', 4, 1, 'html') }}{# Projects #}" />
			</div>
			<div id="app_content_top_middle">
				Top
			</div>
			<div class="app_content_top_right">
				<img id="app_content_top_menu" src="{{ _filelatest('/lincko/app/images/app/content/menu.png') }}" alt="{{ _trans('app', 4, 2, 'html') }}{# Setting #}" title="{{ _trans('app', 4, 2, 'html') }}{# Setting #}" />
			</div>
		</div>
	</div>
	<div class="app_content_row_bottom">
		<div>
			<div id="app_content_menu" class="overthrow">
				Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu
				<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />
				Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu
			</div>
			<div id="app_content_dynamic" class="overthrow">
				Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic
				<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />
				Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic
			</div>
		</div>
	</div>
</div>
-->
<div class="app_content_table app_content_top">
	<div class="app_content_table_row_tab app_content_top_visible">
		<div class="app_content_table_cell_tab">
			<img class="app_content_top_img" id="app_content_top_project" src="{{ _filelatest('/lincko/app/images/app/content/project.png') }}" alt="{{ _trans('app', 4, 1, 'html') }}{# Projects #}" title="{{ _trans('app', 4, 1, 'html') }}{# Projects #}" />
		</div>
		<div class="app_content_table_cell_middle">
			Top
		</div>
		<div class="app_content_table_cell_tab">
			<img class="app_content_top_img" id="app_content_top_menu" src="{{ _filelatest('/lincko/app/images/app/content/menu.png') }}" alt="{{ _trans('app', 4, 2, 'html') }}{# Setting #}" title="{{ _trans('app', 4, 2, 'html') }}{# Setting #}" />
		</div>
	</div>
</div>
<!--
<div class="app_content_table app_content_menu">
	<div class="app_content_table_row_tab">
		<div class="app_content_table_cell_zero"></div>
		<div class="app_content_table_cell_tab"></div>
		<div class="app_content_table_cell_zero"></div>
	</div>
	<div>
		<div class="app_content_table_cell_zero"></div>
		<div class="app_content_table_cell_tab app_content_menu_visible">
			Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu
			<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />
			Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu
		</div>
		<div></div>
	</div>
	<div class="app_content_table_row_zero">
		<div class="app_content_table_cell_zero"></div>
		<div class="app_content_table_cell_tab"></div>
		<div class="app_content_table_cell_zero"></div>
	</div>
</div>

<div class="app_content_table app_content_dynamic">
	<div class="app_content_table_row_tab">
		<div class="app_content_table_cell_tab"></div>
		<div class=""></div>
		<div class="app_content_table_cell_zero"></div>
	</div>
	<div>
		<div class="app_content_table_cell_tab"></div>
		<div class="app_content_dynamic_visible">
			Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic
			<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />Dynamic<br />
			Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic Dynamic
		</div>
		<div class="app_content_table_cell_zero"></div>
	</div>
	<div class="app_content_table_row_zero">
		<div class="app_content_table_cell_tab"></div>
		<div class=""></div>
		<div class="app_content_table_cell_zero"></div>
	</div>
</div>
-->
<div id="end_app_content" class="visibility_hidden"></div>
