{# category 4 #}
<div id="begin_app_content" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/content.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/content.css') }}" type="text/css" />
	<style>
		#app_content_submenu_preview {
			background-image: url('{{ _filelatest('/lincko/app/images/submenu/background_01.jpg') }}');
		}
	</style>
</div>

<table id="app_content_top">
	<tr>
		<td class="app_content_top_cell"></td>
		<td class="app_content_top_cell app_content_top_title">
			<div id="app_content_top_title">
				<span id="app_content_top_title_menu" class="base_pointer" alt="{{ _trans('app', 4, 11, 'html') }}{# Select project #}" title="{{ _trans('app', 4, 11, 'html') }}{# select project #}"></span>
			</div>
		</td>
		<td class="app_content_top_cell">
			<img class="app_content_top_img base_pointer display_none" id="app_content_top_note" src="{{ _filelatest('/lincko/app/images/app/content/quick_upload.png') }}" alt="{{ _trans('app', 2, 10, 'html') }}{# Uploads #}" title="{{ _trans('app', 2, 10, 'html') }}{# Uploads #}" />
		</td>
	</tr>
</table>

<div id="app_content_menu" class="overthrow">
	<div id="app_content_menu_table" class=" font_sans_serif display_none">
		<div class="app_content_menu_cell" id="app_content_menu_dashboard">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 4, 'html') }}{# dashboard #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/dashboard.png') }}" alt="{{ _trans('app', 4, 4, 'html') }}{# dashboard #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_tasks">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 6, 'html') }}{# tasks #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/tasks.png') }}" alt="{{ _trans('app', 4, 6, 'html') }}{# tasks #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_notes">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 7, 'html') }}{# notes #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/notes.png') }}" alt="{{ _trans('app', 4, 7, 'html') }}{# notes #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_chat">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 3, 'html') }}{# recent activity #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/chat.png') }}" alt="{{ _trans('app', 4, 3, 'html') }}{# project wall #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_calendar">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 8, 'html') }}{# calendar #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/calendar.png') }}" alt="{{ _trans('app', 4, 8, 'html') }}{# calendar #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_statistics">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 9, 'html') }}{# statistics #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/statistics.png') }}" alt="{{ _trans('app', 4, 9, 'html') }}{# statistics #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_projects">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 5, 'html') }}{# projects #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/projects.png') }}" alt="{{ _trans('app', 4, 5, 'html') }}{# projects #}" />
			</div>
		</div>
	</div>
</div>
<div id="app_content_dynamic" class="clear">

	{# this absolute DIV is important, it help to fixed absolute elements position to this DIV and not the page itsel. #}
	<div id="app_content_dynamic_sub">{# DO NOT DELETE #}
		<div id="app_content_submenu_preview">
		</div>
		<div id="app_content_dynamic_layers">
			{% include '/bundles/lincko/app/templates/app/layers.twig' %}
		</div>

	</div>

</div>


<div id="end_app_content" class="visibility_hidden"></div>
