{# category 4 #}
<div id="begin_app_content" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/content.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/content.css') }}" type="text/css" />
</div>

<table id="app_content_top">
	<tr>
		<td class="app_content_top_cell">
			<img class="app_content_top_img" id="app_content_top_project" src="{{ _filelatest('/lincko/app/images/app/content/menu.png') }}" alt="{{ _trans('app', 4, 1, 'html') }}{# Projects #}" title="{{ _trans('app', 4, 1, 'html') }}{# Projects #}" />
		</td>
		<td class="app_content_top_cell app_content_top_title">
			<div id="app_content_top_title">
				<img id="app_content_top_home" class="minMobileL" src="{{ _filelatest('/lincko/app/images/app/content/home.png') }}" />
				<span id="app_content_top_title_menu"></span>
			</div>
		</td>
		<td class="app_content_top_cell">
			<img class="app_content_top_img" id="app_content_top_note" src="{{ _filelatest('/lincko/app/images/app/content/quick_note.png') }}" alt="{{ _trans('app', 4, 2, 'html') }}{# Setting #}" title="{{ _trans('app', 4, 2, 'html') }}{# Add a note #}" />
		</td>
	</tr>
</table>

<div id="app_content_menu" class="overthrow">
	<div id="app_content_menu_table" class="font_sans_serif display_none">
		<div class="app_content_menu_cell" id="app_content_menu_dashboard">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 4, 'html') }}{# dashboard #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/dashboard.png') }}" alt="{{ _trans('app', 4, 4, 'html') }}{# dashboard #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_projects">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 5, 'html') }}{# projects #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/projects.png') }}" alt="{{ _trans('app', 4, 5, 'html') }}{# projects #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_tasks">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 6, 'html') }}{# tasks #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/tasks.png') }}" alt="{{ _trans('app', 4, 6, 'html') }}{# tasks #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_notes">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 7, 'html') }}{# notes #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/notes.png') }}" alt="{{ _trans('app', 4, 7, 'html') }}{# notes #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_calendar">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 8, 'html') }}{# calendar #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/calendar.png') }}" alt="{{ _trans('app', 4, 8, 'html') }}{# calendar #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_statistics">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 9, 'html') }}{# statistics #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/statistics.png') }}" alt="{{ _trans('app', 4, 9, 'html') }}{# statistics #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_history">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 10, 'html') }}{# recent activity #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/history.png') }}" alt="{{ _trans('app', 4, 10, 'html') }}{# recent activity #}" />
			</div>
		</div>
	</div>
</div>
<div id="app_content_dynamic">
	{# this absolute DIV is important, it help to fixed absolute elements position to this DIV and not the page itsel. #}
	<div id="app_content_dynamic_sub" class="overthrow_donotuse">{# DO NOT DELETE #}
		{% include '/bundles/lincko/app/templates/app/layers.twig' %}
	</div>
</div>

<div id="end_app_content" class="visibility_hidden"></div>
