{# category 4 #}
<div id="begin_app_content" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/content.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/content.css') }}" type="text/css" />
	<style>
		#app_content_submenu_preview {
			background-image: url('{{ _filelatest('/lincko/app/images/submenu/background_01.jpg') }}');
		}
	</style>
</div>

<table id="app_content_top">
	<tr>
		<td class="app_content_top_cell"></td>
		<td class="app_content_top_cell app_content_top_title">
			<div id="app_content_top_title" class="ellipsis">
				<span id="app_content_top_title_menu" class="base_pointer">
					<span id="app_content_top_title_settings" class="icon-Settings"></span>
					<span id="app_content_top_title_project" alt="{{ _trans('app', 4, 11, 'html') }}{# Change project settings, add teammates #}" title="{{ _trans('app', 4, 11, 'html') }}{# Change project settings, add teammates #}"></span>
				</span>
			</div>
		</td>
		<td class="app_content_top_cell">
			<img class="app_content_top_img base_pointer display_none" id="app_content_top_note" src="{{ _filelatest('/lincko/app/images/app/content/quick_upload.png') }}" alt="{{ _trans('app', 2, 10, 'html') }}{# Uploads #}" title="{{ _trans('app', 2, 10, 'html') }}{# Uploads #}" />
		</td>
	</tr>
</table>

<div id="app_content_menu" class="overthrow">
	<div id="app_content_menu_table" class=" font_sans_serif display_none">
		<div class="app_content_menu_cell" id="app_content_menu_tasks">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 6, 'html')|ucfirst }}{# Tasks #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/TasksInverse.svg') }}" alt="{{ _trans('app', 4, 6, 'html')|ucfirst }}{# Tasks #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_notes">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 7, 'html')|ucfirst }}{# Notes #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/NotesInverse.svg') }}" alt="{{ _trans('app', 4, 7, 'html')|ucfirst }}{# Notes #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_chats">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 13, 'html')|ucfirst }}{# Chats #}">
				<div id="app_content_menu_notif" class="models_history_notif app_content_menu_notif display_none"></div>
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/ChatsInverse.svg') }}" alt="{{ _trans('app', 4, 13, 'html')|ucfirst }}{# Chats #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_calendar">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 8, 'html')|ucfirst }}{# calendar #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/calendar.png') }}" alt="{{ _trans('app', 4, 8, 'html')|ucfirst }}{# calendar #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_statistics">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 9, 'html')|ucfirst }}{# statistics #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/statistics.png') }}" alt="{{ _trans('app', 4, 9, 'html')|ucfirst }}{# statistics #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_projects">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 5, 'html')|ucfirst }}{# projects #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/projects.png') }}" alt="{{ _trans('app', 4, 5, 'html')|ucfirst }}{# projects #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_files">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 12, 'html')|ucfirst }}{# Files #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/FilesInverse.svg') }}" alt="{{ _trans('app', 4, 12, 'html')|ucfirst }}{# Files #}" />
			</div>
		</div>
		<div class="app_content_menu_cell" id="app_content_menu_dashboard">
			<div class="base_color_bd_third app_content_menu_icon" title="{{ _trans('app', 4, 4, 'html') }}{# dashboard #}">
				<img class="base_color_bg_third" src="{{ _filelatest('/lincko/app/images/app/content/menu/DashboardInverse.svg') }}" alt="{{ _trans('app', 4, 4, 'html') }}{# dashboard #}" />
			</div>
		</div>
	</div>
</div>
<div id="app_content_dynamic" class="clear">

	{# this absolute DIV is important, it help to fixed absolute elements position to this DIV and not the page itsel. #}
	<div id="app_content_dynamic_sub">{# DO NOT DELETE #}
		<div id="app_content_submenu_preview">
			<div id="app_content_submenu_preview_statistics">
				<div id="app_content_statistics_settings" class="icon-Settings display_none"></div>
				<div class="app_content_statistics_stats">
					<span class="icon-Tasks"></span>
					<span find="app_content_statistics_stats_tasks">0</span>
				</div>
				<div class="app_content_statistics_stats">
					<span class="icon-New-Notes"></span>
					<span find="app_content_statistics_stats_notes">0</span>
				</div>
				<div class="app_content_statistics_stats">
					<span class="icon-Cloud-Files"></span>
					<span find="app_content_statistics_stats_files">0</span>
				</div>
				<div class="app_content_statistics_chart">
					<canvas find="tasks_statistics" width="200" height="80" ></canvas>
				</div>
			</div>
			<img id="app_content_submenu_preview_logo" class="head_image" alt="Lincko" src="{{ _filelatest('/lincko/app/images/generic/base/logo/lincko.png') }}" />
		</div>
		<div id="app_content_dynamic_layers">
			{% include '/bundles/lincko/app/templates/app/layers.twig' %}
		</div>

	</div>

</div>


<div id="end_app_content" class="visibility_hidden"></div>
