{# category 4 #}
<div id="begin_app_content" class="visibility_hidden">
	<script>
		JSfiles.push("{{ _filelatest('/lincko/app/scripts/app/content.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/content.css') }}" type="text/css" />
</div>

<table id="app_content_top">
	<tr>
		<td class="app_content_top_cell">
			<img class="app_content_top_img" id="app_content_top_project" src="{{ _filelatest('/lincko/app/images/app/content/project.png') }}" alt="{{ _trans('app', 4, 1, 'html') }}{# Projects #}" title="{{ _trans('app', 4, 1, 'html') }}{# Projects #}" />
		</td>
		<td class="app_content_top_cell app_content_top_title">
			<span id="app_content_top_title">
				<img id="app_content_top_arrow" src="{{ _filelatest('/lincko/app/images/app/content/arrow_right.png') }}" />
				{{ _trans('app', 4, 3, 'html') }}{# the wall #}
			</span>
		</td>
		<td class="app_content_top_cell">
			<img class="app_content_top_img" id="app_content_top_note" src="{{ _filelatest('/lincko/app/images/app/content/quick_note.png') }}" alt="{{ _trans('app', 4, 2, 'html') }}{# Setting #}" title="{{ _trans('app', 4, 2, 'html') }}{# Add a note #}" />
		</td>
	</tr>
</table>

<div id="app_content_menu">
	AMenu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu
	<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />
	<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />
	<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />
	<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />Menu<br />
	Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu Menu
</div>
<div id="app_content_dynamic">
	{# this absolute DIV is important, it help to fixed absolute elements position to this DIV and not the page itsel. #}
	<div>
		{% include '/bundles/lincko/app/templates/app/layers.twig' %}
	</div>
</div>

<div id="end_app_content" class="visibility_hidden"></div>
