{# category 2 #}
<div id="begin_app_project" class="visibility_hidden">
	<script>
		JSfiles.push("{{ _filelatest('/lincko/app/scripts/app/project.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/project.css') }}" type="text/css" />
</div>
<div class="app_project_content app_application_width_child">
	<div class="app_project_div_close app_application_width">
		<img id="app_project_close" class="maxMobileL" src="{{ _filelatest('/lincko/app/images/generic/close.png') }}" alt="{{ _trans('app', 2, 1, 'html') }}{# Close #}" title="{{ _trans('app', 2, 1, 'html') }}{# Close #}" />
	</div>
	<div class="app_project_div_content app_application_width_child overthrow">
		<br /><br /><br /><br /><br />
		Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project
		<br />Project<br />Project<br />Project<br />Project<br />Project<br />Project<br />Project<br />Project<br />Project<br />Project<br />Project<br />Project<br />
		Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project Project
	</div>
</div>
<div id="end_app_project" class="visibility_hidden"></div>
