{# category 2 #}
<div id="begin_app_project" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/notification.js') }}", 30);
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/project.js') }}", 70);
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/project.css') }}" type="text/css" />
</div>
<div id="app_project_content" class="app_project_content app_application_width_child base_color_bg_main base_color_bg_main_gradient customize base_color_text_white">
	<div class="app_project_div_content app_application_width_child overthrow">
		<div id="app_project_top">
			<div id="app_project_header">
				<div id="app_project_settings" title="{{ _trans('app', 2, 2, 'html') }}{# Settings #}" class="icon-Settings app_project_settings"></div>
				<div id="app_project_logo"><span id="app_project_logo_span">{{ title|ucfirst }}</span></div>
			</div>
			<div class="app_project_line_first minTablet display_none"><div></div></div>
			<div class="app_project_space minTablet display_none"></div>
			{# {% if workspace %} #}
			<div class="app_project_tab app_project_tab_line">
				<div id="app_project_globalview" class="base_MainElementText">
					{{ _trans('app', 8000, 201, 'html') }}{# Global View #}
				</div>
				<div class="app_project_tab_line_separate"></div>
				<div id="app_project_placeholder" class="base_MainElementText">
					{{ _trans('app', 2, 4, 'html') }}{# Personal Space #}
				</div>
			</div>

			{# Overview #}
			<div class="app_project_space"></div>
			{# Overview #}
			{# {% endif %} #}
			<div id="app_project_projects_tab" class="app_project_tab">
				<div id="app_project_projects_all" title="{{ _trans('app', 2, 15, 'html') }}{# See All Projects #}">
					<div>
						<span>
							{{ _trans('app', 2, 7, 'html') }}{# Projects #}
						</span>
						<span>
							<span find="app_project_projects_all_number"></span>
							<span class="app_project_arrow_to icon-Forward"></span>
							<img id="app_project_projects_new" title="{{ _trans('app', 2, 16, 'html') }}{# Create New Project #}" class="app_project_new_img" src="{{ _filelatest('/lincko/app/images/app/project/new128.png') }}" />
						</span>
					</div>
				</div>
				{% for i in 0..4 %}
					<div id="app_project_item_projects_{{ i }}" pid="-1" timestamp="-1" class="base_MainElementText app_project_projects_item display_none">
						<div>
							<div find="app_project_projects_title"></div>
							<div find="app_project_projects_progress"></div>
						</div>
						<span find="icon_dashboard" class="fa fa-dashboard"></span>
					</div>
				{% endfor %}
			</div>
			<div class="app_project_space"></div>
			<div id="app_project_chats_tab" class="app_project_tab">
				<div id="app_project_chats_all" title="{{ _trans('app', 2, 17, 'html') }}{# See All Chats #}">
					<div>
						<span id="app_project_chats_top">
							<div find="app_project_chats_notif" class="app_project_chats_notif app_project_chats_notif_top display_none"></div>
							{{ _trans('app', 2, 14, 'html') }}{# Chats #}
						</span>
						<span>
							<span find="app_project_chats_all_number"></span>
							<span class="app_project_arrow_to icon-Forward"></span>
							<img id="app_project_chats_new" title="{{ _trans('app', 2, 18, 'html') }}{# Create New Chat Group #}" class="app_project_new_img" src="{{ _filelatest('/lincko/app/images/app/project/new128.png') }}" />
						</span>
					</div>
				</div>
				{% for i in 0..4 %}
					<div id="app_project_item_chats_{{ i }}" name="_" timestamp="-1" class="base_MainElementText app_project_chats_item display_none">
						<div>
							<div find="app_project_chats_picture" class="app_project_chats_picture base_color_text_linckoOrange_dark customize">
								<div find="app_project_chats_notif" class="app_project_chats_notif display_none"></div>
							</div>
							<div find="app_project_chats_date" class="app_project_chats_date"></div>
							<div find="app_project_chats_title" class="app_project_chats_title"></div>
							<div find="app_project_chats_content" class="app_project_chats_content"></div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div id="app_project_quick_access">
			<div id="app_project_quick_access_title" class="display_none">
				<div find="app_project_progress_all" class="app_project_progress_all"></div>
				<div find="app_project_upload" class="app_project_upload_text">{{ _trans('app', 2, 10, 'html') }}{# Uploads #}</div>
			</div>
			<div id="app_project_quick_access_plus" class="app_project_quick_access_icon icon-Plus-no-circle needsclick display_none"></div>
			<div id="app_project_quick_access_upload" title="{{ _trans('app', 2, 19, 'html') }}{# Quick Upload a file (to your personal space) #}" class="app_project_quick_access_icon icon-Cloud-Files needsclick"></div>
			<div id="app_project_quick_access_chat" title="{{ _trans('app', 2, 20, 'html') }}{# Contacts - Invite New Contacts #}" class="app_project_quick_access_icon icon-largerGroup needsclick">
				<div find="notif" class="app_project_quick_access_notif base_ChatMenuHeader display_none"></div>
			</div>
		</div>
		<div id="app_project_quick_upload_block" class="needsclick">
		</div>
		<div id="app_project_quick_upload" class="accelerated">
			<div class="app_project_quick_upload_icons accelerated">

					<img id="app_project_quick_upload_video" class="app_project_quick_upload_img app_project_quick_upload_img_side accelerated needsclick" src="{{ _filelatest('/lincko/app/images/app/project/quick_video.png') }}" />

					<img id="app_project_quick_upload_photo" class="app_project_quick_upload_img accelerated needsclick" src="{{ _filelatest('/lincko/app/images/app/project/quick_photo.png') }}" />

					<img id="app_project_quick_upload_files" class="app_project_quick_upload_img app_project_quick_upload_img_side accelerated needsclick" src="{{ _filelatest('/lincko/app/images/app/project/quick_files.png') }}" />

			</div>
			<img class="app_project_quick_upload_band accelerated" src="{{ _filelatest('/lincko/app/images/app/project/quick_band.png') }}" />
		</div>
	</div>
</div>

<div id="end_app_project" class="visibility_hidden"></div>
