{# category 2 #}
<div id="begin_app_project" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/project.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/project.css') }}" type="text/css" />
</div>
<div id="app_project_content" class="app_project_content app_application_width_child base_color_main_bg">
	<img id="app_project_close" class="maxMobileL" src="{{ _filelatest('/lincko/app/images/app/project/back.png') }}" alt="{{ _trans('app', 2, 1, 'html') }}{# Close #}" title="{{ _trans('app', 2, 1, 'html') }}{# Close #}" />
	<div class="app_project_div_content app_application_width_child overthrow">
		<div class="app_project_user">
			<img id="app_project_user_image" src="{{ _filelatest('/lincko/app/images/app/project/user.png') }}" />
			<div>
				<div id="app_project_user_name">Bruno 马丁</div>
				<div id="app_project_user_email">brunoocto@gmail.com</div>
			</div>
		</div>
		<div class="app_project_line"><div></div></div>
		<div class="app_project_space"></div>
		<div>
			<label class="" for="app_project_search">
				<input type="text" id="app_project_search" name="search" title="{{ _trans('app', 2, 3, 'html') }}{# Search #}"/>
				<img id="app_project_search_img" src="{{ _filelatest('/lincko/app/images/app/project/search.png') }}" />
			</label>
			
			<img id="app_project_settings_img" src="{{ _filelatest('/lincko/app/images/app/project/settings.png') }}" alt="{{ _trans('app', 2, 2, 'html') }}{# Settings #}" title="{{ _trans('app', 2, 2, 'html') }}{# Settings #}" />
		</div>
		<div class="app_project_space"></div>
		<div class="app_project_line"><div></div></div>
		<div class="app_project_space"></div>
		<div class="app_project_tab">
			<div id="app_project_placeholder">
				<div>
					{{ _trans('app', 2, 4, 'html') }}{# My Placeholder #}
				</div>
			</div>
		</div>
		<div class="app_project_space"></div>
		<div class="app_project_line"><div></div></div>
		<div class="app_project_space"></div>
		<div class="app_project_tab_title">
			<img src="{{ _filelatest('/lincko/app/images/app/project/project.png') }}" />
			{{ _trans('app', 2, 7, 'html') }}{# Projects #}
		</div>
		<div class="app_project_tab">
			<div id="app_project_project_01">
				<div>
					Autocut NOVA
				</div>
			</div>
			<div id="app_project_project_02">
				<div>
					Air freshener mk2
				</div>
			</div>
			<div id="app_project_project_02">
				<div>
					Sensor PCB
				</div>
			</div>
			<div id="app_project_project_new">
				<div>
					<img class="app_project_project_new_img" src="{{ _filelatest('/lincko/app/images/app/project/new.png') }}" />
				</div>
			</div>
			<div id="app_project_project_02">
				<div>
					<img class="app_project_project_all_img" src="{{ _filelatest('/lincko/app/images/app/project/arrow_right.png') }}" />
					{{ _trans('app', 2, 5, 'html') }}{# All #}
				</div>
			</div>
		</div>
		<div class="app_project_space"></div>
		<div class="minMobileL">
			<div class="app_project_line"><div></div></div>
			<div class="app_project_space"></div>
			<div class="app_project_tab_title">
				<img src="{{ _filelatest('/lincko/app/images/app/project/latest.png') }}" />
				{{ _trans('app', 2, 6, 'html') }}{# Recent updates #}
			</div>
			<div class="app_project_info">
				<div id="app_project_info_title">
					[Mar 4th] Jim Bilek add a comment
				</div>
				<div id="app_project_info_content">
					Simple carrot header, with login.<br />
					I’m not sure we need all these menu items - especially on the marketing page. Need to hear more about what you’re thinking about the header.<br />
					I like the look of the login box you get when you click the Join us in the top right<br />
					Chinese looks like it is working, I did not try french.
				</div>
			</div>
		</div>
		<div class="app_project_quick_access">
			<div id="app_project_quick_access_title">
				<div find="app_project_progress_all" class="app_project_progress_all"></div>
				<span find="app_project_quick_access">{{ _trans('app', 2, 8, 'html') }}{# Quick access #}</span>
			</div>
			<img id="app_project_quick_access_note" class="app_project_quick_access_img" src="{{ _filelatest('/lincko/app/images/app/project/quick_note.png') }}" />
			<img id="app_project_quick_access_task" class="app_project_quick_access_img" src="{{ _filelatest('/lincko/app/images/app/project/quick_task.png') }}" />
			<img id="app_project_quick_access_upload" class="app_project_quick_access_img" src="{{ _filelatest('/lincko/app/images/app/project/quick_upload.png') }}" />
			<img id="app_project_quick_access_calendar" class="app_project_quick_access_img" src="{{ _filelatest('/lincko/app/images/app/project/quick_calendar.png') }}" />
			<img id="app_project_quick_access_chat" class="app_project_quick_access_img" src="{{ _filelatest('/lincko/app/images/app/project/quick_chat.png') }}" />
		</div>
		<div id="app_project_quick_upload_block">
		</div>
		<div id="app_project_quick_upload">
			<div class="app_project_quick_upload_icons">

					<img id="app_project_quick_upload_video" class="app_project_quick_upload_img app_project_quick_upload_img_side" src="{{ _filelatest('/lincko/app/images/app/project/quick_video.png') }}" />

					<img id="app_project_quick_upload_photo" class="app_project_quick_upload_img" src="{{ _filelatest('/lincko/app/images/app/project/quick_photo.png') }}" />

					<img id="app_project_quick_upload_files" class="app_project_quick_upload_img app_project_quick_upload_img_side" src="{{ _filelatest('/lincko/app/images/app/project/quick_files.png') }}" />

			</div>
			<img class="app_project_quick_upload_band" src="{{ _filelatest('/lincko/app/images/app/project/quick_band.png') }}" />
		</div>
	</div>
</div>
<div id="end_app_project" class="visibility_hidden"></div>
