<div id="begin_app_upload" class="visibility_hidden">
	{# START Blueimp file upload library 9.9.3 #}
	<script src="{{ _filelatest('/scripts/libs/basicplusui/vendor/jquery.ui.widget.js') }}" type="text/javascript"></script>
	<script>
		// jquery.fileupload.js has to be loaded first
		JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/divers/load-image.all.min.js') }}");
		JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/divers/canvas-to-blob.min.js') }}");
		JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/jquery.iframe-transport.js') }}");
		JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/jquery.fileupload-process.js') }}");
		JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/jquery.fileupload-image.js') }}");
		JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/jquery.fileupload-audio.js') }}");
		JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/jquery.fileupload-video.js') }}");
		JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/jquery.fileupload-validate.js') }}");
		//JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/jquery.fileupload-ui.js') }}");
		JSfiles.push("{{ _filelatest('/lincko/app/scripts/app/upload.js') }}");
	</script>
	<!--[if (gte IE 8)&(lt IE 10)]>
	<script>
		JSfiles.push("{{ _filelatest('/scripts/libs/basicplusui/cors/jquery.xdr-transport.js') }}");
	</script>
	<![endif]-->
	<script>
		//This variable must be loaded before because other JS files will record their IDs inside
		var app_upload_files = {
			lincko_progressall: 100,
			lincko_numberOfFiles: 0,
			lincko_britate: '',
			lincko_time: '',
			lincko_loaded: '',
			lincko_total: '',
			lincko_files: {},
			lincko_files_index: 0,
			lincko_record: {}, //Must be {id: 'ElemID', action: function(){ dosomething(); }}
			lincko_record_index: 0,
			lincko_record_update: function(){
				var exist = false;
				for(var index in this.lincko_record){
					exist = false;
					if(typeof this.lincko_record[index].id === 'string' && typeof this.lincko_record[index].action === 'function'){
						if($('#'+this.lincko_record[index].id).length > 0){
							this.lincko_record[index].action();
							exist = true;
						}
					}
					if(!exist){ delete this.lincko_record[index]; }
				}
			},
		};
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/styles/libs/basicplusui/jquery.fileupload.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ _filelatest('/styles/libs/basicplusui/jquery.fileupload-ui.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/upload.css') }}" type="text/css" />
</div>

<div id="app_upload_hidden">
	<form id="app_upload_fileupload" action="https://file.{{ domain }}:8443/file" method="POST" enctype="multipart/form-data" onsubmit="return false;">
		<input type="hidden" value="" id="app_upload_shangzai_puk" name="shangzai_puk" />
		<input type="hidden" value="" id="app_upload_shangzai_cs" name="shangzai_cs" />
		<input type="hidden" value="" id="app_upload_project_id" name="project_id" />
		<input type="file" name="files[]" multiple="" accept="video/*" capture="camcoder" id="app_upload_form_video" />
		<input type="file" name="files[]" multiple="" accept="image/*" capture="camera" id="app_upload_form_photo" />
		<input type="file" name="files[]" multiple="" id="app_upload_form_files" />
	</form>
</div>

<div id="end_app_upload" class="visibility_hidden"></div>

