{# category 19 #}
<div id="begin_app_layers_dashboard" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/layers/dashboard.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/layers/dashboard.css') }}" type="text/css" />
</div>
<div id="end_app_layers_dashboard" class="visibility_hidden"></div>

<div class="display_none">
	<div id="-app_layers_dashboard" class="app_layers_dashboard">
	</div>

	<div id="-app_layers_dashboard_header" class="app_layers_dashboard_header">
		<div find="date">{{ _trans('app', 8000, 3302, 'html') }} :&nbsp;</div>
		<div find="progressBar"></div>
	</div>

	<div id="-app_layers_dashboard_burndown_wrapper" class="app_layers_dashboard_chartBlock app_layers_dashboard_burndown_wrapper">
		<div find="header">{{ _trans('app', 19, 2, 'html') }}{# Project Burndown #}</div>
		<div find="btn_range" class="display_none"></div>
		<div find="noChart" class="display_none">{{ _trans('app', 19, 1, 'html') }}{# There is not enough data to display chart. #}</div>
		<div find="chartContainer">
			<div find="legend">
				<div find="open"><span find="hoverText">{{ _trans('app', 8000, 1903, 'html') }}{# Open Tasks #}</span></div>
				<div find="completed"><div class="fa fa-check"></div><span find="hoverText">{{ _trans('app', 8000, 1902, 'html') }}{# Completed Tasks #}</span></div>			
			</div>
			<div find="bike">
				<span find="hoverText">{{ _trans('app', 8000, 3302, 'html') }}{# Today #}</span>
				<span find="emoji">🚴</span>
			</div>
			<canvas></canvas>
		</div>
	</div>

	<div id="-app_layers_dashboard_taskHistory_wrapper" class="app_layers_dashboard_chartBlock app_layers_dashboard_taskHistory_wrapper">
		<div find="header">{{ _trans('app', 19, 3, 'html') }}{# Historical Task Accumulation #}</div>
		<div find="btn_range" class="display_none"></div>
		<div find="noChart" class="display_none">{{ _trans('app', 19, 1, 'html') }}{# There is not enough data to display chart. #}</div>
		<div find="chartContainer">
			<span find="legend">
				<div find="team" dataset="0">
					<div class="icon-Multipler-Persona"></div><span find="hoverText">{{ _trans('app', 8000, 2101, 'html') }}{# total #}</span>
				</div>
				<div find="user" dataset="1">
					<div class="icon-Single-Person"></div><span find="hoverText">{{ _trans('app', 8000, 2102, 'html') }}{# me #}</span>
				</div>
			</span>
			<canvas></canvas>
		</div>
	</div>

</div>

