<div id="begin_app_layers_dev_skytasks" class="visibility_hidden">
	<script>
		JSfiles.later("{{_filelatest('/lincko/app/scripts/app/layers/dev_skytasks.js') }}");
	</script>

	<link rel="stylesheet" href="{{_filelatest('/lincko/app/styles/app/layers/dev_skytasks.css') }}" type="text/css" />
</div>

<div id="end_app_layers_dev_skytasks" class="visibility_hidden"></div>


<div class="display_none">
	<div id="-app_layers_dev_skytasks" class="">
	</div>

	<div id="-app_layers_dev_skytasks_navbar" class="app_layers_dev_skytasks_navbar">
		<span class = "app_layers_dev_skytasks_people">
			<img people="1" class = "app_layers_dev_skytasks_menuicon" src="{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}"/>
			<img people="2" class = "app_layers_dev_skytasks_menuicon app_layers_dev_skytasks_selected" src="{{_filelatest('/lincko/app/images/app/icons/Users-22.png') }}"/>
		</span>
		<div id="-app_layers_dev_skytasks_timesort" class="app_layers_dev_skytasks_timesort"></div>
	</div>

	<div id="-app_layers_dev_skytasks_tasklist_wrapper" class="app_layers_dev_skytasks_tasklist_wrapper"></div>
	<div id="-app_layers_dev_skytasks_tasklist" class="app_layers_dev_skytasks_tasklist"></div>

	<div id="-app_layers_dev_skytasks_task" class="app_layers_dev_skytasks_task">
		
		<div find='task_rightOptions' class="app_layers_dev_skytasks_task_rightOptions">
			<div class="app_layers_dev_skytasks_tasklist_icon_wrapper app_layers_dev_skytasks_tasklist_icon_name">
				<span class="app_layers_dev_skytasks_tasklist_icon" style="background-image: url('{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}')">&nbsp;</span>
				<span find='name' class="app_layers_dev_skytasks_tasklist_icon_text">Name{# toto #}</span>
			</div>
			<div class="app_layers_dev_skytasks_tasklist_icon_wrapper app_layers_dev_skytasks_tasklist_icon_spaces">
				<span class="app_layers_dev_skytasks_tasklist_icon" style="background-image: url('{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}')">&nbsp;</span>
				<span find='spaces' class="app_layers_dev_skytasks_tasklist_icon_text">Spaces{# toto #}</span>
			</div>
			<div class="app_layers_dev_skytasks_tasklist_icon_wrapper app_layers_dev_skytasks_tasklist_icon_time">
				<span class="app_layers_dev_skytasks_tasklist_icon" style="background-image: url('{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}')">&nbsp;</span>
				<span find='time' class="app_layers_dev_skytasks_tasklist_icon_text">Time{# toto #}</span>
			</div>

		</div>
		<div find='task_center' class="app_layers_dev_skytasks_ellipsis">
			<div class="app_layers_dev_skytasks_spacesstick floatleft"></div>
			<span class="app_layers_dev_skytasks_checkbox floatleft">
				<input type="checkbox" id="" name="checkname" value="">
				<div class="app_layers_dev_skytasks_checkbox_visual"></div>
				<label for=""></label>
			</span>
			<span class="app_layers_dev_skytasks_textwrapper">
				<span find='comments' class="app_layers_dev_skytasks_task_comments">
					<img class="app_layers_dev_skytasks_tasklist_icon minTablet" src="{{_filelatest('/lincko/app/images/app/icons/Edition-32.png') }}"/>
					<span class="maxMobileL">Comments{# toto #}</span><span class="">(?)</span>
				</span>
				<span find='title'></span><!--<span find='dash'>-</span>-->
				<span find='description'></span>
			</span>	
		</div>
		<div class="app_layers_dev_skytasks_taskblur"></div>

		<div find='task_leftOptions' class="app_layers_dev_skytasks_leftOptions maxMobileL">
			<div class="app_layers_dev_skytasks_delete">
				DELETE{# toto #}
			</div>
		</div>


	</div>

	<div id="-app_layers_dev_skytasks_newtaskBox" class="app_layers_dev_skytasks_newtaskBox">+</div>

<!--DETAIL Pane/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<div id="-app_layers_dev_skytasks_detail" class="app_layers_dev_skytasks_detail display_none">
		
		<div class="app_layers_dev_skytasks_detail_block">
			<div class="app_layers_dev_skytasks_detail_block_title">
				<span class="app_layers_dev_skytasks_checkbox">
						<label for=""></label>
				</span>
				<span find='title'></span>
			</div>
			<div class="app_layers_dev_skytasks_detail_block_body">
				<span find='comment'></span><br />
				<!--Project: <span find='project'></span><br />-->
				<div class="app_layers_dev_skytasks_detail_block_body_row1">
					<span class="app_layers_dev_skytasks_detail_usericon" style="background-image: url('{{_filelatest('/lincko/app/images/app/icons/Time-3.png') }}')">&nbsp;</span>
					<span find='time'></span>
					<span class="app_layers_dev_skytasks_detail_usericon" style="background-image: url('{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}')">&nbsp;</span>
					<span find='username'></span>
				</div>
				<span find='taskid'></span><br />
			</div>
		</div>

		<div class="app_layers_dev_skytasks_detail_block">
			<div>
				<img class="app_layers_dev_skytasks_detail_penicon" src="{{_filelatest('/lincko/app/images/app/icons/Edition-32.png') }}"/>
				Comments
			</div>
			<div class="app_layers_dev_skytasks_detail_commentbox">
				<div class="app_layers_dev_skytasks_detail_commentbox_icon">
					<span class="app_layers_dev_skytasks_detail_usericon" style="background-image: url('{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}')">&nbsp;</span>
				</div>
				<div class="app_layers_dev_skytasks_detail_commentbox_text">
					We've made the logo extra special 
					by adding some transparency. Let's 
					get it on the web site!
				</div>
			</div>
			<div class="app_layers_dev_skytasks_detail_commentbox">
				<div class="app_layers_dev_skytasks_detail_commentbox_icon">
					<span class="app_layers_dev_skytasks_detail_usericon" style="background-image: url('{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}')">&nbsp;</span>
				</div>
				<div class="app_layers_dev_skytasks_detail_commentbox_text">
					We've made the logo extra special 
					by adding some transparency. Let's 
					get it on the web site!
				</div>
			</div>
			<div class="app_layers_dev_skytasks_detail_commentbox">
				<div class="app_layers_dev_skytasks_detail_commentbox_icon">
					<span class="app_layers_dev_skytasks_detail_usericon" style="background-image: url('{{_filelatest('/lincko/app/images/app/icons/Users-1.png') }}')">&nbsp;</span>
				</div>
				<div class="app_layers_dev_skytasks_detail_commentbox_text">
					We've made the logo extra special 
					by adding some transparency. Let's 
					get it on the web site!
				</div>
			</div>
			<div class="app_layers_dev_skytasks_detail_okcancel">
				<span>OK</span><span>Cancel</span>
			</div>
		</div>

		<div class="app_layers_dev_skytasks_closedetail">&#10006;</div>

	</div>
<!--DETAIL Pane END/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

	<img id="-app_layers_dev_skytasks_newtaskCircle" class="app_layers_dev_skytasks_newtaskCircle base_color_bg_main" src="{{_filelatest('/lincko/app/images/models/tasks/add.png') }}"/>


</div>


