<div id="begin_app_layers_skynotes" class="visibility_hidden">
	<script>
		JSfiles.later("{{_filelatest('/lincko/app/scripts/app/layers/skynotes.js') }}");
	</script>
	<script>
		JSfiles.later("{{_filelatest('/lincko/app/scripts/app/hammer.min.js') }}", 40);
	</script>
	<script>
		JSfiles.later("{{_filelatest('/lincko/app/scripts/app/jquery.hammer.js') }}");
	</script>
	<script>
		JSfiles.later("{{_filelatest('/lincko/app/scripts/app/jquery.easyeditor.js') }}");
	</script>
	<link rel="stylesheet" href="{{_filelatest('/lincko/app/styles/app/layers/skynotes.css') }}" type="text/css" />
</div>
<div id="end_app_layers_skynotes" class="visibility_hidden"></div>

<div id="editor" placeholder="Type here ... "></div>

<div class="display_none">
	<div id="-app_layers_skynotes" class="">
	</div>

	<div id="-app_layers_skynotes_wrapper" class="app_layers_skynotes_wrapper">
		<div class="app_layers_skynotes_wrapper_inner"></div>
	</div>

	<div id="-app_layers_skynotes_editor" class="needsclick app_layers_skynotes_editor" {#style="overflow:auto; height:300px"#}style="height:100%" > 
		dolor sit amet, consectetur adipisicing elit. Eos, porro provident dolorum dolorem magni est quos alias qui! Autem eveniet, asperiores optio. Sequi aperiam, officia nesciunt perspiciatis praesentium ullam labore! <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sapiente, ut incidunt officia non, repudiandae rem hic voluptatum nam qui sint velit accusamus iusto doloremque ipsa, dolorum ex eius, nihil recusandae in quasi vitae expedita veniam excepturi! <br><br>
        dolor sit amet, consectetur adipisicing elit <br>
        adipisicing elit. Eos, porro provident <br>
        Sequi aperiam, officia nesciunt perspiciatis <br>
        ut incidunt officia non, repudiandae
		dolor sit amet, consectetur adipisicing elit. Eos, porro provident dolorum dolorem magni est quos alias qui! Autem eveniet, asperiores optio. Sequi aperiam, officia nesciunt perspiciatis praesentium ullam labore! <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sapiente, ut incidunt officia non, repudiandae rem hic voluptatum nam qui sint velit accusamus iusto doloremque ipsa, dolorum ex eius, nihil recusandae in quasi vitae expedita veniam excepturi! <br><br>
        dolor sit amet, consectetur adipisicing elit <br>
        adipisicing elit. Eos, porro provident <br>
        Sequi aperiam, officia nesciunt perspiciatis <br>
        ut incidunt officia non, repudiandae
		dolor sit amet, consectetur adipisicing elit. Eos, porro provident dolorum dolorem magni est quos alias qui! Autem eveniet, asperiores optio. Sequi aperiam, officia nesciunt perspiciatis praesentium ullam labore! <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sapiente, ut incidunt officia non, repudiandae rem hic voluptatum nam qui sint velit accusamus iusto doloremque ipsa, dolorum ex eius, nihil recusandae in quasi vitae expedita veniam excepturi! <br><br>
        dolor sit amet, consectetur adipisicing elit <br>
        adipisicing elit. Eos, porro provident <br>
        Sequi aperiam, officia nesciunt perspiciatis <br>
        ut incidunt officia non, repudiandae
		dolor sit amet, consectetur adipisicing elit. Eos, porro provident dolorum dolorem magni est quos alias qui! Autem eveniet, asperiores optio. Sequi aperiam, officia nesciunt perspiciatis praesentium ullam labore! <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sapiente, ut incidunt officia non, repudiandae rem hic voluptatum nam qui sint velit accusamus iusto doloremque ipsa, dolorum ex eius, nihil recusandae in quasi vitae expedita veniam excepturi! <br><br>
        dolor sit amet, consectetur adipisicing elit <br>
        adipisicing elit. Eos, porro provident <br>
        Sequi aperiam, officia nesciunt perspiciatis <br>
        ut incidunt officia non, repudiandae
	</div>

	<div id="-skynotes_test"></div>

	<div id="-app_layers_skynotes_concealer" class="app_layers_skynotes_concealer"></div>


</div>