{# category ? #}
<div id="begin_app_layers_tasks" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/layers/tasks.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/layers/tasks.css') }}" type="text/css" />
</div>
<div id="end_app_layers_tasks" class="visibility_hidden"></div>

<div class="display_none">

	<div id="-app_layers_tasks" class="app_layers_tasks">
	</div>

	<div id="-app_layers_tasks_add_icon" class="app_layers_tasks_add_icon base_color_bg_forth_less_less">
		<img src="{{ _filelatest('/lincko/app/images/models/tasks/add.png') }}" /><br />
		{{ _trans('app', 7, 1, 'html') }}{# New task #}
	</div>

	<img id="-app_layers_tasks_add_corner" class="app_layers_tasks_add_corner base_color_bg_forth_plus_plus" src="{{ _filelatest('/lincko/app/images/models/tasks/add.png') }}" />

</div>